/* 2023/10/22 */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('../projects/old_krfont.css');

:root {
    --body: #c7c7d0;
    --navbar: rgb(255 255 255 / 60%);
    --navbarShadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    --navbarselection1: rgb(40 40 40 / 0.8);
    --navSelections: rgb(40 40 40 / 0.8);
    --texts: rgb(40 40 40 / 90%);
    --texts2: rgb(40 40 40 / 80%);
    --dlm: 0;
}

.dark {
    --body: #131317;
    --navbar: rgb(53 53 53 / 60%);
    --navbarShadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    --navbarselection1: rgb(255 255 255 / 0.8);
    --navSelections: rgb(255 255 255 / 0.8);
    --texts: rgb(255 255 255 / 90%);
    --texts2: rgb(255 255 255 / 80%);
    --dlm: 10;
}

* {
    align-items: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
}

html,body {
    width: 100%;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 15px;
    position: relative;
    margin: 0;
    background: var(--body);
}

/* Moblie */
@media (max-width: 850px) {

    .exhibit_box2,
    .FL_exhibit_box2 {
        background-position-y: -40px !important;
        background-position-x: 100px !important;
        background-size: 90% !important;
    }

    .exhibit_f2_sub,
    .exhibit_f3_sub,
    .FL_exhibit_f2_sub {
        margin-left: 510px !important;
    }

    .FL_exhibit_box3 {
        transform: scale(0.72);
    }

    .exhibit_f1_sub {
        margin-left: 30px !important;
    }

    #exhibitDis_1>div.exhibit_f1_sub>h1 {
        left: 570px !important;
        font-size: 35px !important;
    }

    #exhibitDis_1>div.exhibit_f1_sub>p {
        top: 90px !important;
        left: 570px !important;
    }

    .TitleMain_1,
    .CTMainContectSub_1 {
        margin-left: 450px !important;
    }

}

/* MW_1 */
@media (min-width: 850px) and (max-width: 1000px) {

    .exhibit_box2,
    .FL_exhibit_box2 {
        background-position-y: -40px !important;
        background-position-x: 100px !important;
        background-size: 90% !important;
    }

    .exhibit_f2_sub,
    .exhibit_f3_sub,
    .FL_exhibit_f2_sub,
    .TitleMain_1,
    .CTMainContectSub_1 {
        margin-left: 350px !important;
    }

    .exhibit_f1_sub {
        margin-left: 30px !important;
    }

}

/* MW_2 */
@media (min-width: 1000px) and (max-width: 1100px) {

    .exhibit_f2_sub,
    .exhibit_f3_sub,
    .FL_exhibit_f2_sub,
    .TitleMain_1,
    .CTMainContectSub_1 {
        margin-left: 270px !important;
    }

    .exhibit_f1_sub {
        margin-left: 30px !important;
    }

}

/* MW_3 */
@media (min-width: 1100px) and (max-width: 1280px) {

    .exhibit_f2_sub,
    .exhibit_f3_sub,
    .FL_exhibit_f2_sub,
    .TitleMain_1,
    .CTMainContectSub_1 {
        margin-left: 220px !important;
    }

    .exhibit_f1_sub {
        margin-left: 30px !important;
    }

}

/* MW_4 */
@media (min-width: 1280px) and (max-width: 1310px) {

    .exhibit_f2_sub,
    .exhibit_f3_sub,
    .FL_exhibit_f2_sub,
    .TitleMain_1,
    .CTMainContectSub_1 {
        margin-left: 100px !important;
    }

    .exhibit_f1_sub {
        margin-left: 30px !important;
    }

}

/* MW_5 */
@media (min-width: 1310px) and (max-width: 1460px) {

    .exhibit_f2_sub,
    .exhibit_f3_sub,
    .FL_exhibit_f2_sub,
    .TitleMain_1,
    .CTMainContectSub_1 {
        margin-left: 95px !important;
    }

    .exhibit_f2_sub,
    .exhibit_f3_sub,
    .FL_exhibit_f2_sub {
        margin-left: 95px !important;
    }

}

.mainCls_1 {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.subCls_1 {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

a {
    text-decoration: none;
    color: rgb(48, 48, 48);
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--navbar);
    box-shadow: var(--navbarShadow);
    backdrop-filter: blur(10px);
    z-index: 1000;
    transition: .15s;
}

#navbar_selection_emp,
#navbar_selection,
#navbar_selection_home,
#navbar_selection_projects,
#navbar_selection_contact {
    float: left;
}

#navbar_selection {
    float: left;
}

#navbar_selection_1 {
    float: right;
}

#navbar_selection_emp a,
#navbar_selection a,
#navbar_selection_home a,
#navbar_selection_projects a,
#navbar_selection_contact a {
    display: block;
    color: var(--navSelections);
    text-align: center;
    padding: 10px 16px;
    margin: 6px;
    text-decoration: none;
    border-radius: 10px;
    transition: .15s;
    -webkit-user-drag: none;
}

#navbar_selection_1 a,
#navbar_selection_1 button {
    display: block;
    color: var(--navbarselection1);
    text-align: center;
    padding: 10px 16px;
    margin: 6px;
    text-decoration: none;
    border-radius: 10px;
    transition: .15s;
}

.empty_1 {
    background: transparent !important;
}

#navbar_selection a:hover:not(.active),
#navbar_selection_home a:hover:not(.active),
#navbar_selection_projects a:hover:not(.active),
#navbar_selection_contact a:hover:not(.active),
#navbar_selection_1 button:hover:not(.active) {
    background: rgb(154 154 154 / 30%);
    border-radius: 10px;
    transition: .15s;
}

/* Dark/Light Mode */
#navbar_selection_1 button {
    background: rgb(0 0 0 / 0%);
    position: relative;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

/* Dark/Light Mode Image */
#navbar_selection_1 > button > img {
    transform: scale(2);
    margin-top: 5px;
    height: 15px;
    filter: brightness(var(--dlm)) opacity(0.8);
    -webkit-user-drag: none;
}

.DLMode:hover, .OpenGithubLink {
    cursor: pointer;
}

/* Moblie */
/* .navbar_moblie {

    display: none;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(51 51 51 / 0.5);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 1000;
    transition: .15s;
}

#MoblieNavbar_selection {
    float: left;
}

#MoblieNavbar_selection_2 {
    text-align: center;
    align-items: center;
}

#MoblieNavbar_selection a {
    display: block;
    color: rgb(255 255 255 / 0.8);
    text-align: center;
    padding: 10px 16px;
    margin: 6px;
    text-decoration: none;
    border-radius: 10px;
    transition: .15s;
} */

.empty_1 {
    background: transparent !important;
}

/* #MoblieNavbar_selection a:hover:not(.active) {
    background: rgb(170 170 170 / 7%);
    border-radius: 10px;
    transition: .15s;
} */

.active_navbar {
    background: rgb(105 105 105 / 40%);
    border-radius: 15px;
    transition: .15s;
}

#exhibitDis_2,
.exhibitDis_2 {
    font-family: 'Rubik', sans-serif;
}

.exhibit_box1 {
    width: 1600px;
    height: 450px;
    background: linear-gradient(89.95deg, rgb(0 0 0 / 50%) 39.6%, rgb(255 255 255 / 15%) 99.96%), url('./img/AboutNighyRiy.png');
    position: relative;
    border-radius: 10px;
}

.exhibit_f1_sub {
    resize: none;
    position: absolute;
    width: 250%;
    top: 150px;
    margin-left: 30px;
    text-align: left;
}

#exhibitDis_1>div.exhibit_f1_sub>h1 {
    font-size: 50px;
    position: absolute;
    left: 495px;
    top: 15px;
    color: rgb(255 255 255 / 90%);
}

#exhibitDis_1>div.exhibit_f1_sub>p {
    font-size: 21px;
    position: absolute;
    left: 600px;
    top: 115px;
    color: rgb(255 255 255 / 70%);
}

.exhibit_box2 {
    width: 1600px;
    height: 450px;
    background: linear-gradient(89.95deg, rgb(0 0 0 / 50%) 39.6%, rgb(255 255 255 / 15%) 99.96%), url('./img/FlusothgNotionCam.png');
    background-size: 115%;
    background-position-y: -180px;
    background-position-x: 0px;
    position: relative;
    border-radius: 10px;
}

.exhibit_f2_sub {
    resize: none;
    position: absolute;
    width: 150%;
    top: 635px;
    margin-left: 20px;
    text-align: left;
}

#f1_title {
    font-size: 50px;
    position: absolute;
    left: 80px;
    top: 15px;
    color: rgb(255 255 255 / 90%);
}

#f1_content {
    font-size: 21px;
    position: absolute;
    left: 80px;
    top: 115px;
    color: rgb(255 255 255 / 70%);
}

#f1_download {
    background: rgb(255 255 255 / 90%);
    text-decoration: none;
    color: rgb(0 0 0 / 90%);
    padding: 8px;
    border-radius: 10px;
    position: absolute;
    left: 80px;
    top: 185px;
    transition: .15s;
}

#f1_download:hover {
    filter: brightness(0.7);
}

#f1_learnMore {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    padding: 8px;
    border-radius: 10px;
    position: absolute;
    left: 180px;
    top: 185px;
    transition: .15s;
}

#f1_learnMore:hover {
    text-decoration: underline;
}

#f1_or {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    padding: 8px;
    border-radius: 10px;
    position: absolute;
    left: 275px;
    top: 180px;
    font-size: 25px;
    transition: .15s;
}

#f1_or_info {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    padding: 8px;
    border-radius: 10px;
    position: absolute;
    left: 175px;
    top: 180px;
    font-size: 25px;
    transition: .15s;
}

#f1_notion {
    content: url('./img/notionLogo.png');
    position: absolute;
    width: 25px;
    height: 25px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    padding: 8px;
    border-radius: 10px;
    position: absolute;
    left: 290px;
    top: 183px;
    transition: .15s;
}

#f1_notion:hover {
    opacity: 0.6;
}

.exhibit_box3 {
    width: 1600px;
    height: 450px;
    background: linear-gradient(89.95deg, rgb(100 100 100 / 25%) 39.6%, rgb(248 96 96 / 32%) 99.96%), url(./img/RedFance.png);
    background-size: 115%;
    background-position-y: -210px;
    background-position-x: 0px;
    position: relative;
    border-radius: 10px;
}

.exhibit_f3_sub {
    resize: none;
    position: absolute;
    width: 150%;
    top: 665px;
    margin-left: 20px;
    text-align: left;
    font-family: 'gamefont';
}

#f2_title {
    font-size: 40px;
    position: absolute;
    left: 110px;
    top: 445px;
    color: rgb(255 255 255 / 90%);
}

#f2_content {
    font-size: 15px;
    position: absolute;
    left: 110px;
    top: 550px;
    color: rgb(255 255 255 / 70%);
}

#f2_download {
    background-color: rgb(248 96 96) !important;
    box-shadow: inset 0 -7px 0 0 rgb(164 64 64) !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 4px !important;
    text-shadow: rgb(32, 32, 32) -1px -1px 0px, rgb(32, 32, 32) 1px -1px 0px, rgb(32, 32, 32) -1px 1px 0px, rgb(32, 32, 32) 1px 1px 0px, rgb(32, 32, 32) -2px -2px 0px, rgb(32, 32, 32) 2px -2px 0px, rgb(32, 32, 32) -2px 2px 0px, rgb(32, 32, 32) 2px 2px 0px, rgb(32, 32, 32) -3px -3px 0px, rgb(32, 32, 32) 3px -3px 0px, rgb(32, 32, 32) -3px 3px 0px, rgb(32, 32, 32) 3px 3px 0px !important;
    border: none !important;
    text-decoration: none;
    padding: 12px;
    border-radius: 10px;
    position: absolute;
    left: 110px;
    top: 615px;
    -webkit-user-drag: none;
    transition: all 0.1s ease 0s;
}

#f2_download:hover {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: inset 0 -7px 0 0 rgb(179, 179, 179) !important;
    border: none !important;
    transform: scale(0.95);
}

#f2_download:active {
    background-color: rgb(172, 172, 172) !important;
    box-shadow: rgb(125, 125, 125) 0px -7px 0px 0px inset !important;
    border: none !important;
    transform: scale(0.9);
}

#f2_learnMore {
    background-color: rgb(248 96 96) !important;
    box-shadow: inset 0 -7px 0 0 rgb(164 64 64) !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 4px !important;
    text-shadow: rgb(32, 32, 32) -1px -1px 0px, rgb(32, 32, 32) 1px -1px 0px, rgb(32, 32, 32) -1px 1px 0px, rgb(32, 32, 32) 1px 1px 0px, rgb(32, 32, 32) -2px -2px 0px, rgb(32, 32, 32) 2px -2px 0px, rgb(32, 32, 32) -2px 2px 0px, rgb(32, 32, 32) 2px 2px 0px, rgb(32, 32, 32) -3px -3px 0px, rgb(32, 32, 32) 3px -3px 0px, rgb(32, 32, 32) -3px 3px 0px, rgb(32, 32, 32) 3px 3px 0px !important;
    border: none !important;
    text-decoration: none;
    padding: 12px;
    border-radius: 10px;
    position: absolute;
    left: 240px;
    top: 615px;
    -webkit-user-drag: none;
    transition: all 0.1s ease 0s;
}

#f2_learnMore:hover {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: inset 0 -7px 0 0 rgb(179, 179, 179) !important;
    border: none !important;
    transform: scale(0.95);
}

#f2_learnMore:active {
    background-color: rgb(172, 172, 172) !important;
    box-shadow: rgb(125, 125, 125) 0px -7px 0px 0px inset !important;
    border: none !important;
    transform: scale(0.9);
}

/* Projects============================================================== */

.titlemain_box1 {
    width: 1600px;
    height: 50px;
    background: transparent;
    position: relative;
    border-radius: 10px;
}

.TitleMain_1 {
    resize: none;
    position: absolute;
    width: 250%;
    top: 1px;
    margin-left: 30px;
    text-align: left;
}

#exhibitDis_1>div.TitleMain_1>h1 {
    font-size: 50px;
    position: absolute;
    left: 150px;
    top: 15px;
    color: var(--texts);
}


/* Flusothg ===================================================================== */
#PJ_exhibit_box2 {
    width: 1200px;
    height: 300px;
    background: linear-gradient(89.95deg, rgb(0 0 0 / 50%) 39.6%, rgb(255 255 255 / 15%) 99.96%), url('./img/FlusothgNotionCam.png');
    background-size: 100%;
    background-position-y: -100px;
    background-position-x: 0px;
    margin-left: -5px;
    bottom: -10px;
    margin-bottom: 50px;
    position: relative;
    border-radius: 10px;
    transition: .15s;
}

.PJ_exhibit_f2_sub {
    resize: none;
    position: absolute;
    width: 150%;
    top: 100px;
    margin-left: 20px;
    text-align: left;
    font-family: 'Rubik', sans-serif;
}

#PJ_f1_title {
    font-size: 50px;
    position: absolute;
    left: 470px;
    top: 130px;
    color: rgb(255 255 255 / 90%);
}

#PJ_FlusothgIntro {
    background: transparent;
    text-decoration: none;
    color: rgb(0 0 0 / 90%);
    padding: 100px 200px 200px 1000px;
    border-radius: 10px;
    position: absolute;
    left: -25px;
    top: 64px;
    transition: .15s;
    -webkit-user-drag: none;
}

#PJ_FlusothgIntro:hover {
    background: rgb(0 0 0 / 10%);
}
/* Flusothg ===================================================================== */



/* RedFance ===================================================================== */
#PJ_exhibit_box3 {
    width: 1200px;
    height: 300px;
    background: linear-gradient(89.95deg, rgb(100 100 100 / 25%) 39.6%, rgb(248 96 96 / 25%) 99.96%), url(./img/RedFance.png);
    background-size: 100%;
    background-position-y: -135px;
    background-position-x: 0px;
    margin-left: -5px;
    bottom: -10px;
    margin-bottom: 50px;
    position: relative;
    border-radius: 4px;
    transition: .15s;
}

.PJ_exhibit_f3_sub {
    font-family: gamefont;
    resize: none;
    position: absolute;
    width: 150%;
    top: 100px;
    margin-left: 20px;
    text-align: left;
}

#PJ_f2_title {
    font-size: 40px;
    position: absolute;
    left: 450px;
    top: 470px;
    color: rgb(255 255 255 / 90%);
}

#PJ_RedFanceIntro {
    background: transparent;
    text-decoration: none;
    color: rgb(0 0 0 / 90%);
    padding: 100px 200px 190px 1000px;
    border-radius: 4px;
    position: absolute;
    left: -25px;
    top: 424px;
    transition: .15s;
    -webkit-user-drag: none;
    box-shadow: 0px 10px 0 rgb(164 64 64 / 60%);
}

#PJ_RedFanceIntro:hover {
    background: rgb(255 255 255 / 10%);
}

#RF_f1_learn {
    background-color: rgb(248 96 96) !important;
    box-shadow: inset 0 -7px 0 0 rgb(164 64 64) !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 4px !important;
    text-shadow: rgb(32, 32, 32) -1px -1px 0px, rgb(32, 32, 32) 1px -1px 0px, rgb(32, 32, 32) -1px 1px 0px, rgb(32, 32, 32) 1px 1px 0px, rgb(32, 32, 32) -2px -2px 0px, rgb(32, 32, 32) 2px -2px 0px, rgb(32, 32, 32) -2px 2px 0px, rgb(32, 32, 32) 2px 2px 0px, rgb(32, 32, 32) -3px -3px 0px, rgb(32, 32, 32) 3px -3px 0px, rgb(32, 32, 32) -3px 3px 0px, rgb(32, 32, 32) 3px 3px 0px !important;
    border: none !important;
    text-decoration: none;
    padding: 12px;
    border-radius: 10px;
    position: absolute;
    left: 500px;
    top: 600px;
    -webkit-user-drag: none;
    transition: all 0.1s ease 0s;
}

#RF_f1_learn:hover {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: inset 0 -7px 0 0 rgb(179, 179, 179) !important;
    border: none !important;
    transform: scale(0.95);
}

#RF_f1_learn:active {
    background-color: rgb(172, 172, 172) !important;
    box-shadow: rgb(125, 125, 125) 0px -7px 0px 0px inset !important;
    border: none !important;
    transform: scale(0.9);
}

/* RedFance ===================================================================== */


/* Projects============================================================== */


/* Contact============================================================== */

#CTMainContectBox_1 {
    width: 1200px;
    height: 300px;
    background: #0000;
    background-size: 100%;
    background-position-y: -100px;
    background-position-x: 0px;
    margin-left: -5px;
    bottom: -10px;
    margin-bottom: 50px;
    position: relative;
    border-radius: 10px;
    transition: .15s;
}

.CTMainContectSub_1 {
    resize: none;
    position: absolute;
    width: 150%;
    top: 100px;
    margin-left: 0px;
    text-align: left;
}

#CTMainContect_Text1 {
    font-size: 30px;
    position: absolute;
    left: 0px;
    top: 30px;
    color: var(--texts2);
}

/* Contact============================================================== */


/* Flusothg============================================================== */

#FL_exhibitDis_2 {
    height: 450px;
}

.FL_exhibit_box2 {
    width: 1600px;
    height: 450px;
    background: linear-gradient(89.95deg, rgb(0 0 0 / 50%) 39.6%, rgb(255 255 255 / 15%) 99.96%), url('./img/FlusothgNotionCam.png');
    background-size: 115%;
    background-position-y: -180px;
    background-position-x: 0px;
    position: relative;
    border-radius: 10px;
    bottom: -50px;
}

.FL_exhibit_f2_sub {
    resize: none;
    position: absolute;
    width: 150%;
    top: 130px;
    margin-left: 20px;
    text-align: left;
    font-family: 'Rubik', sans-serif;
}

#FL_f1_title {
    font-size: 50px;
    position: absolute;
    left: 80px;
    top: 15px;
    color: rgb(255 255 255 / 90%);
}

#FL_f1_content {
    font-size: 21px;
    position: absolute;
    left: 80px;
    top: 115px;
    color: rgb(255 255 255 / 70%);
}

#FL_f1_download {
    background: rgb(255 255 255 / 90%);
    text-decoration: none;
    color: rgb(0 0 0 / 90%);
    padding: 8px;
    border-radius: 10px;
    position: absolute;
    left: 80px;
    top: 185px;
    transition: .15s;
}

#FL_f1_download:hover {
    filter: brightness(0.7);
}

#FL_f1_notion {
    content: url('./img/notionLogo.png');
    position: absolute;
    width: 25px;
    height: 25px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    padding: 8px;
    border-radius: 10px;
    position: absolute;
    left: 190px;
    top: 183px;
    transition: .15s;
}

#FL_f1_notion:hover {
    opacity: 0.6;
}

#FL_exhibitDis_3 {
    height: 550px;
}

.FL_exhibit_box3 {
    width: 1600px;
    height: 500px;
    background: url('../projects/krunkercss/flusothg/FlusothgLearnMore.png');
    position: relative;
    border-radius: 10px;
    bottom: -50px;
}

/* Flusothg============================================================== */



/* RedFance============================================================== */

#RF_exhibitDis_2 {
    height: 600px;
    font-family: gamefont !important;
    font-size: 18px;
}

.RF_exhibit_box2 {
    width: 1200px;
    height: 350px;
    margin-left: -5px;
    bottom: -100px;
    position: relative;
    transition: .15s;
}

.RF_exhibit_f2_sub {
    resize: none;
    position: absolute;
    width: 150%;
    top: 250px;
    margin-left: -50px;
    text-align: left;
}

#RF_f1_title {
    font-size: 40px;
    position: absolute;
    left: 80px;
    top: 15px;
    color: rgb(255 255 255 / 90%);
}

#RF_f1_content {
    font-size: 17px;
    position: absolute;
    left: 80px;
    top: 115px;
    color: rgb(255 255 255 / 70%);
}

#RF_f1_download {
    background-color: rgb(248 96 96) !important;
    box-shadow: inset 0 -7px 0 0 rgb(164 64 64) !important;
    color: rgb(255, 255, 255) !important;
    border-radius: 4px !important;
    text-shadow: rgb(32, 32, 32) -1px -1px 0px, rgb(32, 32, 32) 1px -1px 0px, rgb(32, 32, 32) -1px 1px 0px, rgb(32, 32, 32) 1px 1px 0px, rgb(32, 32, 32) -2px -2px 0px, rgb(32, 32, 32) 2px -2px 0px, rgb(32, 32, 32) -2px 2px 0px, rgb(32, 32, 32) 2px 2px 0px, rgb(32, 32, 32) -3px -3px 0px, rgb(32, 32, 32) 3px -3px 0px, rgb(32, 32, 32) -3px 3px 0px, rgb(32, 32, 32) 3px 3px 0px !important;
    border: none !important;
    text-decoration: none;
    padding: 12px;
    border-radius: 10px;
    position: absolute;
    left: 80px;
    top: 185px;
    -webkit-user-drag: none;
    transition: all 0.1s ease 0s;
}

#RF_f1_download:hover {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: inset 0 -7px 0 0 rgb(179, 179, 179) !important;
    border: none !important;
    transform: scale(0.95);
}

#RF_f1_download:active {
    background-color: rgb(172, 172, 172) !important;
    box-shadow: rgb(125, 125, 125) 0px -7px 0px 0px inset !important;
    border: none !important;
    transform: scale(0.9);
}

/* RedFance============================================================== */