/* Flusothg - Krunker Editor */
/* Made by Nighy Riy (Nighy01) */

/* #SaveKrunker */
/* #GetRidFRVR */

/* 2023/10/12 */

/* CF1. Configs ================================================================================== */

:root {

  /* BC1. Blur Configs ================================================================= */

    /* None Blur */
     --None_Blur: 0px;

    /* Level 1 blur (highest level) */
     --LV1_Blur: 40px;

    /* Level 2 blur */
     --LV2_Blur: 20px;

    /* Level 3 blur */
     --LV3_Blur: 10px;
    
    /* Level 4 blur */
     --LV4_Blur: 5px;

    /* Level 5 blur */
     --LV5_Blur: 3px;

    /* Level 6 blur (lowest level) */
     --LV6_Blur: 3px;
    
  /* BC1. Blur Configs ================================================================= */



  /* RC1. Rounded Corners Configs ================================================================= */

    /* None Rounded Corners */
     --None_RC: 0px;

    /* Level 1 Rounded Corners (highest level) */
     --LV1_RC: 15px;

    /* Level 2 Rounded Corners */
     --LV2_RC: 10px;

    /* Level 3 Rounded Corners */
     --LV3_RC: 9px;
    
    /* Level 4 Rounded Corners */
     --LV4_RC: 8px;

    /* Level 5 Rounded Corners */
     --LV5_RC: 7px;

    /* Level 6 Rounded Corners */
     --LV6_RC: 5px;

    /* Level 7 Rounded Corners (lowest level) */
     --LV7_RC: 3px;

  /* RC1. Rounded Corners Configs ================================================================= */

    /* Dark Background Color */
     --dark-bg-color: linear-gradient(180deg, rgba(41, 42, 46, 0.3) 0%, rgba(34, 34, 39, 0.3) 100%), rgba(0, 0, 0, 0.45) !important;

    /* Button 1 Color */
     --Btn1Color: linear-gradient(180deg, rgba(165, 167, 216, 0.3) 0%, rgba(171, 179, 223, 0.3) 100%), rgba(152, 149, 171, 0.7) !important;

    /* Button 1 Hover Color */
     --Btn1_HoverColor: linear-gradient(180deg, rgba(140, 137, 177, 0.3) 0%, rgba(139, 138, 181, 0.3) 100%), rgba(98, 92, 115, 0.8) !important;

    /* Button 1 Active Color */
     --Btn1_ActiveColor: linear-gradient(180deg, rgba(121, 118, 153, 0.3) 0%, rgba(113, 112, 146, 0.3) 100%), rgba(57, 56, 73, 0.8) !important;
    
}

/* CF1. Configs ================================================================================== */



/* KF1. KeyFrames ================================================================================== */

/* Fadein ToolBar */
@keyframes fadeintoolbar {
    from {
        transform: translateY(-5px);
        opacity: 0;
    }
    to {
        transform: translateY(3px);
        opacity: 1;
    }
}

/* Fadein ToolBarSub */
@keyframes fadeintoolbarsub {
    from {
        transform: translateX(-5px);
        opacity: 0;
    }
    to {
        transform: translateX(2px);
        opacity: 1;
    }
}

/* ------Popup Animation------ */

/* Width Fix */
@keyframes popup_width_animatFix {
    from {
        transform: scale3d(0.35, 0.35, 0.35) translate(-141%,-153%);
    }
    to {
        transform: scale3d(1) translate(-50%,-50%);
    }
}

/* Height Fix */
@keyframes popup_height_animatFix {
    from {
        transform: scale3d(0.35, 0.35, 0.35) translate(-141%,-153%);
    }
    to {
        transform: scale3d(1) translate(-50%,-50%);
    }
}

/* Width 1 */
@keyframes popup_width_animat_1 {
    from {
        transform: scale3d(0.35, 0.35, 0.35) translate(-100%,-100%);
    }

    to {
        transform: scale3d(1.01, 1.01, 1.01) translate(-49.5%,-49.5%);
    }
}

/* Width 2 */
@keyframes popup_width_animat_2 {
    from {
        transform: scale3d(1.01, 1.01, 1.01) translate(-49.5%,-49.5%);
    }

    to {
        transform: scale3d(1, 1, 1) translate(-50%,-50%);
    }
}

/* Height 1 */
@keyframes popup_height_animat_1 {
    from {
        transform: scale3d(0.35, 0.35, 0.35) translate(-100%,-100%);
    }

    to {
        transform: scale3d(1.01, 1.01, 1.01) translate(-49.5%,-49.5%);
    }
}

/* Height 2 */
@keyframes popup_height_animat_2 {
    from {
        transform: scale3d(1.01, 1.01, 1.01) translate(-49.5%,-49.5%);
    }

    to {
        transform: scale3d(1, 1, 1) translate(-50%,-50%);
    }
}

/* Opacity */
@keyframes popup_opacity_animat {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ------Popup Animation------ */

/* Blur Switch Effect */
@keyframes blurswitch {
    from {
        background: linear-gradient(180deg, rgba(41, 42, 46, 0.1) 0%, rgba(34, 34, 39, 0.1) 100%), rgba(0, 0, 0, 0.1);
        opacity: 0;
        backdrop-filter: blur(var(--LV3_Blur));
        transition-duration: .2s;
    }
    to {
        background: linear-gradient(180deg, rgba(41, 42, 46, 0.3) 0%, rgba(34, 34, 39, 0.3) 100%), rgba(0, 0, 0, 0.45);
        opacity: 1;
        backdrop-filter: blur(var(--LV1_Blur));
        transition-duration: .2s;
    }
}

/* Left Panel Animation */
@keyframes leftpanel_animat {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(0px);
    }
}

/* Right Panel Animation */
@keyframes rightpanel_animat {
    from {
        transform: translateX(300px);
    }
    to {
        transform: translateX(0px);
    }
}

/* Top Bar Animation */
@keyframes hotbar_animat {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0px);
    }
}

/* KF1. KeyFrames ================================================================================== */



/* MI1. Main ================================================================================== */

/* Texts */
* {
    -webkit-text-stroke: 0.1px !important;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
    background: rgb(11 11 11 / 45%) !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    transition-duration: .2s;
    border-radius: var(--LV2_RC) !important;
}

/* Scrollbar Thumb Hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(11 11 11 / 60%) !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    transition-duration: .2s;
    border-radius: var(--LV2_RC) !important;
}

/* Scrollbar Thumb Active */
::-webkit-scrollbar-thumb:active {
    background: rgb(11 11 11 / 70%) !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    transition-duration: .2s;
    border-radius: var(--LV2_RC) !important;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    background-color: transparent !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    transition-duration: .2s;
    border-radius: var(--LV2_RC) !important;
}

/* Texts */
div.material-icons, .toolbarItem, .toolbarDropDownItem, .panelLabel, .section, .header>a, .subheader>a, .qs_textarea, #versionTxt, .windowHeader>div, .menuTabsNew>div, .inlineLabel, .mapListItem>*>a {
    color: rgba(255, 255, 255, 0.9) !important;
}

/* Left Panel */
.left.panel {
    background: linear-gradient(180deg, rgba(165, 167, 216, 0.3) 0%, rgba(171, 179, 223, 0.3) 100%), rgba(152, 149, 171, 0.7) !important;
    border: 1px solid rgba(225, 225, 225, 0.4) !important;
    box-shadow: -4px 0px 30px rgba(0, 0, 0, 0.25) !important;
    backdrop-filter: blur(var(--LV3_Blur)) !important;
    animation: fadein 400ms 0ms cubic-bezier(0.42,0,0,1) forwards, leftpanel_animat 400ms 0ms cubic-bezier(0.42,0,0,1) forwards;
}

/* Right Panel */
.right.panel {
    background: linear-gradient(180deg, rgba(165, 167, 216, 0.3) 0%, rgba(171, 179, 223, 0.3) 100%), rgba(152, 149, 171, 0.7) !important;
    border: 1px solid rgba(225, 225, 225, 0.4) !important;
    box-shadow: 4px 0px 30px rgba(0, 0, 0, 0.25) !important;
    backdrop-filter: blur(var(--LV3_Blur)) !important;
    animation: fadein 350ms 0ms cubic-bezier(0.42,0,0,1) forwards, rightpanel_animat 350ms 0ms cubic-bezier(0.42,0,0,1) forwards;
}

/* Top Bar */
#hotbar {
    background: linear-gradient(180deg, rgba(165, 167, 216, 0.3) 0%, rgba(171, 179, 223, 0.3) 100%), rgba(152, 149, 171, 0.7) !important;
    border: 1px solid rgba(225, 225, 225, 0.4) !important;
    box-shadow: 0px -5px 30px rgba(0, 0, 0, 0.25) !important;
    backdrop-filter: blur(var(--LV3_Blur)) !important;
    animation: fadein 500ms 0ms cubic-bezier(0.42,0,0,1) forwards, hotbar_animat 500ms 0ms cubic-bezier(0.42,0,0,1) forwards;
    transition-duration: 500ms;
}

/* Header */
.header {
    background-color: rgb(21 21 21 / 27%);
    transition: .15s;
}

/* Header Hover */
.header:hover {
    background-color: rgb(0 0 0 / 0.4);
}

/* Header Active */
.header:active {
    background-color: rgb(0 0 0 / 0.5);
}

/* Play,Host,Expore Bar */
#playbar>div {
    border-color: #0000 !important;
}

/* Tool Bar */
.toolbarItem:hover, .toolbarDropDownItem:hover, .toolbarDropDownItem:hover, .eButton:hover, .publishAsset:hover {
    border-radius: var(--LV6_RC);
    background-color: rgb(112 112 112 / 50%);
    transition: .2s;
}

/* [<] [>] Button */
.qs_title_bar,.header>i,.subheader>i,.hide>i,.restore>i {
    color: #ffffff !important;
}

/* Slider Checked */
input:checked+.slider {
    background: linear-gradient(180deg, rgba(69, 69, 94, 0.3) 0%, rgba(64, 65, 89, 0.3) 100%), rgba(33, 35, 43, 0.8) !important;
    box-shadow: 0px 0px 25px rgba(33, 35, 43, 0.3) !important;
    backdrop-filter: blur(var(--LV4_Blur));
    transition-duration: .2s;
}

/* Range Slider Thumb */
input[type=range]::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    background: linear-gradient(#464646,#464646);
}

/* Moz Range Slider Thumb */
input[type=range]::-moz-range-thumb {
    background: linear-gradient(#464646,#464646);
}

/* Tab A New */
.tabANew {
    box-shadow: inset 0 -5px #989898b2;
}

/* Menu Tabs New Hover */
.menuTabsNew>div:hover {
    box-shadow: inset 0 -5px #6d7681b2;
}

/* Customize */
#toglEditBtn {
    color: #fff !important;
}

/* Add */
#canvasAdd {
    background: linear-gradient(180deg, rgba(169, 171, 217, 0.3) 0%, rgba(161, 169, 208, 0.3) 100%), rgba(151, 148, 171, 0.7);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(var(--LV4_Blur));
    border-radius: var(--LV5_RC);
}

/* Delete, Duplicate Button */
#canvasObjEdit .eButton {
    background: linear-gradient(180deg, rgba(169, 171, 217, 0.3) 0%, rgba(161, 169, 208, 0.3) 100%), rgba(151, 148, 171, 0.7);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(var(--LV4_Blur));
    border-radius: var(--LV5_RC);
}

/* Spawn...Objects Info */
#canvasInfo {
    background: linear-gradient(180deg, rgba(169, 171, 217, 0.3) 0%, rgba(161, 169, 208, 0.3) 100%), rgba(151, 148, 171, 0.7);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(var(--LV4_Blur));
    border-radius: var(--LV5_RC);
}

/* ^Texts */
#canvasInfo .statTitle {
    color: rgb(255 255 255 / 90%);
}

/* Canvas Button */
#canvasUI .eButton {
    background: linear-gradient(180deg, rgba(176, 178, 230, 0.3) 0%, rgba(184, 192, 236, 0.3) 100%), rgba(164, 160, 185, 0.7);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(var(--LV4_Blur));
    border-radius: var(--LV5_RC);
    transition-duration: .15s;
}

/* Tool Bar Option */
.toolbarDropDown, div.toolbarDropDown {
    transform: translateY(3px);
    box-shadow: none;
    border-radius: var(--LV5_RC);
    animation: fadeintoolbar .2s;
    background: rgb(0 0 0 / 0.75) !important;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%) !important;
    backdrop-filter: blur(var(--LV3_Blur)) !important;
}

/* ^Sub */
.toolbarSubDropDown, div.toolbarSubDropDown {
    transform: translateX(1.5px);
    box-shadow: none;
    border-radius: var(--LV5_RC);
    animation: fadeintoolbarsub .2s;
    background: rgb(0 0 0 / 0.75) !important;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%) !important;
    backdrop-filter: blur(var(--LV3_Blur)) !important;
}

.toolbarChunkSubDropDown, div.toolbarChunkSubDropDown {
    transform: translateX(1.5px);
    box-shadow: none;
    border-radius: var(--LV5_RC);
    animation: fadeintoolbarsub .2s;
    background-color: rgb(0 0 0 / 0) !important;
}

/* Window Background */
div#menuWindow, .loginPop, .importPop {
    background: linear-gradient(180deg, rgba(178, 204, 255, 0.3) 0%, rgba(194, 204, 255, 0.3) 100%), rgba(104, 105, 130, 0.7) !important;
    border: 1px solid rgba(225, 225, 225, 0.4) !important;
    box-shadow: 0px 4px 55px rgb(0 0 0 / 25%) !important;
    backdrop-filter: blur(var(--LV3_Blur)) !important;
    border-radius: var(--LV2_RC) !important;
    animation: popup_width_animat_1 250ms 0ms cubic-bezier(0.42,0,0,1) forwards, popup_width_animat_2 203ms 250ms cubic-bezier(0.42,0,0,1) forwards, popup_height_animat_1 250ms 0ms cubic-bezier(0.42,0,0,1) forwards, popup_height_animat_2 203ms 250ms cubic-bezier(0.42,0,0,1) forwards, fadein 250ms 0ms cubic-bezier(0.42,0,0.021025641025640973,0.9846153846153847) forwards;
    transition-duration: .2s !important;
    transform: scale3d(1) translate(-50%,-50%);
}

/* Popup Content */
#popupContent, #alertPop, .responsePop, .loadingPop, #genericPop {
    background: linear-gradient(180deg, rgba(178, 204, 255, 0.3) 0%, rgba(194, 204, 255, 0.3) 100%), rgba(104, 105, 130, 0.7) !important;
    border: 1px solid rgba(225, 225, 225, 0.4) !important;
    box-shadow: 0px 4px 55px rgb(0 0 0 / 25%) !important;
    backdrop-filter: blur(var(--LV3_Blur)) !important;
    border-radius: var(--LV2_RC) !important;
    animation: popup_width_animat_1 250ms 0ms cubic-bezier(0.42,0,0,1) forwards, popup_width_animat_2 203ms 250ms cubic-bezier(0.42,0,0,1) forwards, popup_height_animat_1 250ms 0ms cubic-bezier(0.42,0,0,1) forwards, popup_height_animat_2 203ms 250ms cubic-bezier(0.42,0,0,1) forwards, fadein 250ms 0ms cubic-bezier(0.42,0,0.021025641025640973,0.9846153846153847) forwards;
    transition-duration: .2s !important;
    transform: scale3d(1) translate(-50%,-50%);
}

/* ^Icons */
#popupContent > div > div:nth-child(1) > i {
    filter: brightness(10);
}

/* Alert Popup Text */
#alertPop > div > span {
    color: rgb(255 255 255 / 0.8);
}

/* Teleport Popup */
.teleportPop {
    background: linear-gradient(180deg, rgba(178, 204, 255, 0.3) 0%, rgba(194, 204, 255, 0.3) 100%), rgba(104, 105, 130, 0.7) !important;
    border: 1px solid rgba(225, 225, 225, 0.4) !important;
    box-shadow: 0px 4px 55px rgb(0 0 0 / 25%) !important;
    backdrop-filter: blur(var(--LV3_Blur)) !important;
    border-radius: var(--LV2_RC) !important;
    animation: popup_width_animat_1 250ms 0ms cubic-bezier(0.42,0,0,1) forwards, popup_width_animat_2 203ms 250ms cubic-bezier(0.42,0,0,1) forwards, popup_height_animat_1 250ms 0ms cubic-bezier(0.42,0,0,1) forwards, popup_height_animat_2 203ms 250ms cubic-bezier(0.42,0,0,1) forwards, fadein 250ms 0ms cubic-bezier(0.42,0,0.021025641025640973,0.9846153846153847) forwards;
    transition-duration: .2s !important;
    transform: scale3d(1) translate(-50%,-50%);
}

/* Change Position */
.teleportPop > div:nth-child(1) {
    text-align: left !important;
    color: rgb(240 240 240);
}

/* Button */
.button {
    background: var(--Btn1Color) !important;
    border: 1px solid rgba(225, 225, 225, 0.4) !important;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(var(--LV4_Blur));
    border-radius: var(--LV5_RC);
}

/* Button Hover */
.button:hover {
    background: var(--Btn1_HoverColor) !important;
    border: 1px solid rgba(225, 225, 225, 0.4) !important;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25) !important;
    backdrop-filter: blur(var(--LV4_Blur));
    border-radius: var(--LV5_RC) !important;
}

/* Button Active */
.button:active {
    background: var(--Btn1_ActiveColor) !important;
    border: 1px solid rgba(225, 225, 225, 0.4) !important;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25) !important;
    backdrop-filter: blur(var(--LV4_Blur));
    border-radius: var(--LV5_RC) !important;
}

/* Popup Background */
#instructionHolder, #popupBack {
    background: var(--dark-bg-color);
    backdrop-filter: blur(var(--LV1_Blur));
    animation: blurswitch .2s;
    transition-duration: .2s;
}

/* Window Popups */
#menuWindow, #publishGamePop, .publishPop, #popupContent, .importPop {
    animation: popup_width_animat_1 250ms 0ms cubic-bezier(0.42,0,0,1) forwards, popup_width_animat_2 203ms 250ms cubic-bezier(0.42,0,0,1) forwards, popup_height_animat_1 250ms 0ms cubic-bezier(0.42,0,0,1) forwards, popup_height_animat_2 203ms 250ms cubic-bezier(0.42,0,0,1) forwards, fadein 250ms 0ms cubic-bezier(0.42,0,0.021025641025640973,0.9846153846153847) forwards;
    transform: scale3d(1) translate(-50%,-50%);
}

/* Restore Hover */
.restore:hover {
    background-color: rgba(40,40,40,.6);
    box-shadow: none;
}

/* Restore Button */
.restore {
    background-color: rgba(100,100,100,.5);
}

/* Version */
#versionTxt {
    display: none;
}

/* Panel Label */
.panelLabel {
    background: rgb(82 79 97 / 71%);
    border-radius: var(--None_RC) var(--None_RC) var(--LV2_RC) var(--None_RC);
}

/* Panel Button */
.panelButton {
    background: rgb(93 90 107 / 62%);
}

/* Input */
.inlineInput, .vector3 input[type=number] {
    background: rgba(245, 246, 255, 0.8) !important;
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.05) !important;
    backdrop-filter: blur(var(--LV2_Blur)) !important;
    border-radius: var(--LV6_RC) !important;
}

/* Select Mod...etc */
.eButton, .publishAsset {
    background: rgb(0 0 0 / 30%);
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(var(--LV2_Blur));
    border-radius: var(--LV5_RC);
}

/* import btn */
.importPop > div.mapFndB {
    background: #ffffff33 !important;
}

/* [NEW] */
.mapAgeD {
    background: rgb(255 255 255 / 0.8) !important;
    color: rgb(0 0 0 / 0.9) !important;
    backdrop-filter: blur(var(--LV2_Blur));
}

/* Sub Header */
.subheader {
    background-color: rgb(0 0 0 / 20%);
}

/* MI1. Main ================================================================================== */



/* UO1. Others ================================================================================== */

/* hr Line */
hr {
    border-color: rgb(0 0 0 / 0%);
}

/* Lock Icon */
.lock i {
    color: rgb(240, 240, 240) !important;
}

/* Play, Host...etc Icon */
[style="color: #202020; font-size: 25px"] {
    color: rgb(240, 240, 240) !important;
}

/* Quick */
.qs_main, div.qs_main {
    background-color: rgb(0 0 0 / 50%) !important;
    border-radius: var(--LV5_RC);
    backdrop-filter: blur(var(--LV4_Blur));
}

/* Quick */
.qs_content, div.qs_content {
    background-color: rgb(0 0 0 / 0%) !important;
}

/* Quick Title */
.qs_title_bar, div.qs_title_bar {
    background-color: rgb(0 0 0 / 50%) !important;
    border-radius: var(--LV5_RC) 7px 0px 0px;
}

/* Quick JSON Text Area */
.qs_textarea {
    background-color: rgb(36 36 36) !important;
    border-radius: var(--LV7_RC);
    color: rgb(240 240 240) !important;
}

/* No Backups found */
#menuWindow > div.windowBody {
    color: rgb(240 240 240) !important;
}

/* Publishing Guide */
[style="text-align:center;font-size:30px;color:#fff;margin-bottom:20px"] {
    text-align: center;
    font-size: 37px !important;
    color: rgb(255 255 255 / 95%);
    text-align: left !important;
}

/* 1. Create a Thumbnail */
.pubGIt {
    color: rgba(255 255 255 / 95%);
    border-top: 3px solid rgba(0 0 0 / 0%) !important;
    font-size: 25px;
}

/* Tip: Content */
.pubGItSub {
    color: rgba(255 255 255 / 70%);
    font-size: 18px;
}

/* Publishing Guide Rule */
.pubGRule {
    border-bottom: 4px solid rgb(0 0 0 / 0%);
}

/* Click [here] */
.popupLink, div.popupLink {
    color: #c3d3ff !important;
}

/* Wrong */
#menuWindow > div.pubGImgSplit > div:nth-child(1) > div, #genericPop > div > div:nth-child(1) > i,

/* Ok */
#menuWindow > div.pubGImgSplit > div:nth-child(2) > div, #genericPop > div > div:nth-child(2) > i

{
    filter: invert(0.1) brightness(999) opacity(0.8);
}

/* Publish */
#menuWindow > div:nth-child(1) > div.windowHeader > div > div {
    color: rgb(240 240 240);
}

/* Asset Name */
.smlInput {
    background-color: rgb(255 255 255 / 80%);
    color: rgba(0 0 0 / 90%);
}

/* Back Button */
#menuWindow > div:nth-child(1) > div.windowHeader > div:nth-child(1) > i {
    color: rgb(255 255 255 / 0.95) !important;
}

/* Script Saved */
.chatItem {
    background: linear-gradient(180deg, rgba(169, 171, 217, 0.3) 0%, rgba(161, 169, 208, 0.3) 100%), rgba(151, 148, 171, 0.7) !important;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15) !important;
    backdrop-filter: blur(var(--LV4_Blur));
    border-radius: var(--LV5_RC);
    transition-duration: .15s;
    animation: popup_opacity_animat 250ms 0ms cubic-bezier(0.42,0,0.021025641025640973,0.9846153846153847) forwards;
}

/* Script Saved Icon */
#warning_scriptSaving > div > i {
    color: rgb(255 255 255 / 95%) !important;
}

/* Warning Icon */

/* Error: Socket timed out */
#warning_error > div > i,

/* Collidable Object limit */
#warning_objects_col > div > i,

/* Object limit */
#warning_objects > div > i,

/* Verified/Premium Collidable Object limit */
#warning_objectsF_col > div > i,

/* Verified/Premium Object limit */
#warning_objectsF > div > i

{
    color: rgb(255 255 255 / 0.95) !important;
}

/* Map Test Popup */
.mapTestPop {
    padding: 7px;
    border-radius: var(--LV1_RC);
    border: solid 2px rgb(0 0 0 / 0%);
    background-color: rgb(12 12 13);
    animation: popup_width_animat_1 250ms 0ms cubic-bezier(0.42,0,0,1) forwards, popup_width_animat_2 203ms 250ms cubic-bezier(0.42,0,0,1) forwards, popup_height_animat_1 250ms 0ms cubic-bezier(0.42,0,0,1) forwards, popup_height_animat_2 203ms 250ms cubic-bezier(0.42,0,0,1) forwards, fadein 250ms 0ms cubic-bezier(0.42,0,0.021025641025640973,0.9846153846153847) forwards;
}

/* ^Frame */
#mapTestFrame, .mapTestFrame {
    border-radius: var(--LV2_RC);
}

.publishGamePop, .publishPop {
    background: linear-gradient(180deg, rgba(178, 204, 255, 0.3) 0%, rgba(194, 204, 255, 0.3) 100%), rgba(104, 105, 130, 0.7) !important;
    border: 1px solid rgba(225, 225, 225, 0.4) !important;
    box-shadow: 0px 4px 55px rgb(0 0 0 / 25%) !important;
    backdrop-filter: blur(var(--LV3_Blur)) !important;
    border-radius: var(--LV2_RC) !important;
    transition-duration: .2s !important;
    transform: scale3d(1) translate(-50%,-50%);
}

#pubGame {
    background: rgb(0 0 0 / 30%) !important;
}

[style="color:rgba(255, 255, 255, 0.6)!important;margin-top:4px;margin-bottom:10px;border-bottom:2px solid;padding-bottom:10px;"], [style="color:rgba(255, 255, 255, 0.6)!important;font-size:14px;margin-top:12px;border-top:2px solid;padding-top:10px;"] {
    border-bottom: 2px solid #0000 !important;
    border-top: 2px solid #0000 !important;
}

input:checked+.slider2 {
     background: linear-gradient(90deg,#464646,#464646);
}

.publishLeft {
    border: 4px solid #0000;
    border-radius: var(--LV2_RC);
}

#gameThumbnailPrev {
    border-radius: var(--LV2_RC);
}

.changeThumb {
    border-radius: var(--LV2_RC);
    backdrop-filter: blur(var(--LV3_Blur));
}

#gameThumbnailSize {
    text-shadow: none;
}

/* Pub Hed (Ex. Import Map...etc) */
.pubHed {
    color: rgb(255 255 255 / 0.95) !important;
    text-align: left;
    padding-left: 15px;
    width: calc(100% + 15px);
}

.qs_content, .quickAddButton {
    background-color: rgb(0 0 0 / 0.3) !important;
}

/* Copy Paste Map Text Here */
[style="color:rgba(255,255,255,0.7);font-size:19px;text-align:center;margin-bottom:15px;margin-top: -10px;"] {
    text-align: left !important;
}

/* 2FA Popup Background */
#twoFAPop {
    background: rgb(0 0 0 / 0.6);
    backdrop-filter: blur(var(--LV1_Blur));
    animation: blurswitch .2s;
    transition-duration: .2s;
}

/* 2FA Popup */
#twoFAWindow {
    background: linear-gradient(180deg, rgba(178, 204, 255, 0.3) 0%, rgba(194, 204, 255, 0.3) 100%), rgba(104, 105, 130, 0.7);
    border: 1px solid rgba(225, 225, 225, 0.4) !important;
    box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.25) !important;
    backdrop-filter: blur(var(--LV3_Blur)) !important;
    border-radius: var(--LV2_RC) !important;
    animation: popup_width_animat_1 250ms 0ms cubic-bezier(0.42,0,0,1) forwards, popup_width_animat_2 203ms 250ms cubic-bezier(0.42,0,0,1) forwards, popup_height_animat_1 250ms 0ms cubic-bezier(0.42,0,0,1) forwards, popup_height_animat_2 203ms 250ms cubic-bezier(0.42,0,0,1) forwards, fadein 250ms 0ms cubic-bezier(0.42,0,0.021025641025640973,0.9846153846153847) forwards;
    transform: scale3d(1) translate(-50%,-50%);
    transition-duration: .2s !important;
}

/* ^2-Factor Auth... */
.twoFAHeader {
    color: rgb(255 255 255 / 0.95) !important;
    border-bottom: 4px solid #0000 !important;
    background-color: rgb(0 0 0 / 50%) !important;
    box-shadow: none !important;
    text-align: left;
    padding-left: 19px;
    font-size: 23px;
}

/* ^Scan QR code with... */
#twoFAmsg {
    font-size: 20px;
    color: rgb(255 255 255 / 0.95) !important;
    filter: opacity(0.95);
}

/* ^Submit */
#twoFAbtn {
    border-radius: var(--LV4_RC);
    font-size: 20px;
    color: rgb(255 255 255 / 0.95);
    background-color: rgb(0 0 0 / 30%);
}

/* For lost Passwords/Accounts... */
[style="width:100%;text-align:center;margin-top:10px;background-color:rgba(0,0,0,0.3);padding-top:10px;padding-bottom:20px;"] {
    border-radius: var(--LV2_RC);
}

/* Login */
#referralHeader {
    background-color: rgb(0 0 0 / 0.4);
    border-radius: var(--LV2_RC);
}

/* Popup Message */
[style="text-align:center;font-size:20px;color:rgba(255,255,255,0.5)"] {
    font-size: 17px !important;
}

/* Menu Background */
.menuTabsNew {
    background-color: rgba(0 0 0 / 10%);
    border-radius: var(--LV2_RC) !important;
    transition: .15s;
}

/* Tab Selected */
.tabANew {
    box-shadow: inset 0 -5px #0000;
    background: rgba(0 0 0 / 25%);
    border-radius: var(--LV2_RC) !important;
    transition: .15s;
}

/* Tab Selected Hover */
.tabANew:hover {
    box-shadow: inset 0 -5px #0000 !important;
}

/* Short Tab New */
.menuShortTabNew {
    line-height: 40px;
}

/* Tab Hover */
.menuTabNew:hover, .menuShortTabNew:hover {
    box-shadow: inset 0 -5px #0000 !important;
    background: rgba(0 0 0 / 15%);
    border-radius: var(--LV2_RC) !important;
    transition: .15s;
}

/* Tab Active */
.menuTabNew:active, .menuShortTabNew:active {
    box-shadow: inset 0 -5px #0000 !important;
    background: rgba(0 0 0 / 40%);
    border-radius: var(--LV2_RC) !important;
}

/* Search Button */
.searchBtn {
    background-color: rgb(0 0 0 / 20%) !important;
}

/* Slider Background */
.sliderM {
    background: linear-gradient(180deg, rgb(68 62 92 / 30%) 0%, rgb(87 85 104 / 30%) 100%), rgb(109 111 122 / 70%);
    box-shadow: 0px 0px 20px rgb(223 223 240 / 0%);
    backdrop-filter: blur(var(--LV4_Blur));
    border-radius: var(--LV5_RC);
    padding-top: 0.7px;
    padding-bottom: 0.7px;
    transition-duration: .2s;
}

/* Slider Box */
.sliderM::-webkit-slider-thumb {
    background-color: #0000 !important;
    background: linear-gradient(180deg, rgb(230 227 255 / 30%) 0%, rgb(228 226 255 / 30%) 100%), rgb(255 255 255 / 90%) !important;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(var(--LV4_Blur));
    border-radius: var(--LV6_RC);
    padding: 9px;
    transition-duration: .2s;
}

/* Slider Value */
.sliderVal {
    background: rgb(0 0 0 / 0.3) !important;
    border: 3px solid rgba(225, 225, 225, 0.25) !important;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(var(--LV4_Blur));
    border-radius: var(--LV3_RC) !important;
    font-size: 16.5px;
    padding: 4px;
    transition-duration: .2s;
}

/* Slider Value Hover */
.sliderVal:hover {
    filter: brightness(0.75);
}

/* Slider Value Active */
.sliderVal:active {
    filter: brightness(0.55);
}

/* Select */
select {
    border-radius: var(--LV5_RC);
    background-color: #f0f0f0;
}

/* Asset Item */
.assetItem {
    transition: .15s;
}

/* Color Picker */
div.pcr-app, div.pcr-app.visible {
    background: rgb(0 0 0 / 75%) !important;
    border-radius: var(--LV2_RC);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%) !important;
    backdrop-filter: blur(var(--LV5_Blur));
}

.pcr-app[data-theme=nano] .pcr-selection .pcr-color-palette .pcr-palette::before,
.pcr-app[data-theme=nano] .pcr-selection .pcr-color-palette .pcr-palette {
    border-radius: var(--LV2_RC) !important;
}

/* 2FA Input */
.twoFAIn {
    border-radius: var(--LV2_RC);
    color: rgb(255 255 255 / 95%);
}

/* Select a Texture */
.popHeader {
    font-size: 25px;
    color: rgb(255 255 255 / 95%);
    border-bottom: none;
    background-color: rgb(0 0 0 / 35%);
    backdrop-filter: blur(var(--LV3_Blur));
    box-shadow: none;
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-align: left;
}

/* Search Item */
#skinSearch {
    background-color: rgb(255 255 255 / 80%);
    border-radius: var(--LV5_RC);
    backdrop-filter: blur(var(--LV4_Blur));
}

/* Asset List */
#assetList {
    color: rgb(255 255 255 / 95%) !important;
}

/* Icon Button */
.iconButton {
    background-color: rgb(0 0 0 / 35%);
    border-radius: var(--LV5_RC);
}

/* Asset Item */
.assetItem {
    border-radius: var(--LV5_RC);
    border: 3px solid rgb(0 0 0 / 0%);
    width: 180px;
}

/* Asset Item Holder */
.assetItemHolder {
    height: 145px;
    width: 181px;
    border-radius: var(--LV5_RC);
}

/* Asset Item Thumb */
.assetItemThumb {
    border-radius: var(--LV5_RC);
}

/* Asset Item Name */
.assetItemName {
    color: rgb(255 255 255 / 95%);
    height: 25px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(0 0 0 / 50%) 100%);
    border-radius: var(--None_RC) var(--None_RC) var(--LV5_RC) var(--LV5_RC);
}

/* Asset Item Info Text */
.assetItemText {
    font-size: 12px;
    text-shadow: none !important;
}

/* Name Input */
.mapInput {
    background: rgb(255 255 255 / 80%);
}

/* Loading... , Missing Required Assets */
#gameUpResp {
    color: rgb(255 255 255 / 80%) !important;
}

/* Menu Window All Comp */
#menuWindow * {
    font-family: gamefont;
}

/* Window header */
.windowHeader {
    margin-bottom: 17px;
    font-size: 24px;
}

/* ---White Mode Fix--- */

/* Play, Host...etc Icon */
#playbar > div:nth-child(1) > i,
#playbar > div:nth-child(2) > i,
#playbar > div:nth-child(3) > i
{
    color: white !important;
}

/* ---White Mode Fix--- */

.mapListName, div.mapListName, div.assetItemName {
    font-size: 15px !important;
}

/* Welcome to the Krunker Editor */
#welcomeTitle {
    user-select: text;
    font-size: 43px;
}

/* Design, Create & Publish for multiple platforms and earn real money! */
#welcomeSubTitle {
    user-select: text;
    font-size: 18px;
}

/* Learn more */
.learnMorLnk {
    font-size: 20px;
}

/* "160,000,000+" Users since 2018...etc */
.editInAvl {
    user-select: text;
    font-size: 25px !important;
}

/* 160,000,000+ "Users since 2018"...etc */
div.editInHedr {
    user-select: text;
    font-size: 25px !important;
}

/* The Krunker Editor allows you...etc */
#editInfoBody div {
    user-select: text;
    font-size: 15px;
}

/* Learn, Share, Reward */
.editInfoItem .edInfHeader{
    user-select: text;
    line-height: 100px;
    font-size: 35px !important;
}

/* Combine Maths..., Share your creation easily..., Teachers can create custom...etc */
.editInfoItem .edInfBody {
    user-select: text;
    font-size: 15px !important;
}