/* This is Nighy01's Krunker Editor Custom CSS */
/* Updated: 2021/2/10 */

/* Variables */
:root {

    /* Main Color */
    --main: rgb(248 96 96);

    /* Main Hover Color */
    --mainhover: rgb(164 64 64);
}

/* Top Bar, Left/Right Panels etc */
#hotbar, .panel, .toolbarDropDown, .toolbarSubDropDown, .qs_textarea, .qs_title_bar, #menuWindow { /* Changed Background Color rgb(53 53 53 / 82%), Box Shadow 1px 0px 20px 0px rgba(0,0,0,.5) */
    background-color: rgb(53 53 53 / 82%) !important;
    box-shadow: none !important;
}

/* "Spawn Points" etc Map Stat */
#canvasInfo .statTitle { /* Changed Full White Color */
    color: #fff !important;
}

/* Slider Checked Buttons */
input:checked+.slider { /* Changed rgb(248 96 96) Color */
    background: rgb(248 96 96) !important;
}

/* Slider Hover Buttons */
.slider:hover { /* Changed #757575 Color */
    background-color: #757575 !important;
}

/* Slider Checked Hover Buttons */
input:checked+.slider:hover { /* Changed rgb(164 64 64) Color */
    background-color: rgb(164 64 64) !important;
}

/* Main Button */
.button { /* Background Color Changed rgb(248 96 96) */
    background-color: rgb(248 96 96) !important;
}

/* Main Hover Button */
.button:hover { /* Background Color Changed rgb(164 64 64) */
    background-color: rgb(164 64 64) !important;
}

/* Pages Background */
#instructionHolder { /* Changed Full Transparent */
    background-color: rgb(0 0 0 / 0%) !important;
}

/* "translate" "rotat" "scale" Buttons */
#canvasUI .button {
    background-color: rgb(0 0 0 / .5) !important;
    box-shadow: none !important;
}

/* "Delete" "Duplicate" Buttons */
#canvasObjEdit .button {
    background-color: rgb(0 0 0 / .5) !important;
    box-shadow: none !important;
}

/* "translate" "rotat" "scale" Hover Buttons */
#canvasUI .button:hover {
    background-color: rgb(167 167 167) !important;
    box-shadow: none !important;
}

/* "Delete" "Duplicate" Hover Buttons */
#canvasObjEdit .button:hover {
    background-color: rgb(167 167 167) !important;
    box-shadow: none !important;
}

/* Slider-Thumb */
input[type=range]::-webkit-slider-thumb {
    background: rgb(248 96 96) !important;
}

/* Arrow Icon Buttons */
.qs_title_bar, .header>i, .subheader>i, .hide>i, .restore>i { /* Changed Whiter Color */
    color: #ffffff !important;
}

/* "General" etc Tabs Hover Buttons On Settings Page */
.menuShortTabNew:hover {
    box-shadow: inset 0 -5px #bbbbbb !important;
}

/* "Default" etc Tabs Hover Buttons On Controls Page */
.menuTabsNew>div:hover {
    box-shadow: inset 0 -5px #bbbbbb !important;
}

/* Selected Tab Hover Button */
.tabANew:hover {
    box-shadow: inset 0 -5px #c0c0c0 !important;
}

/* Selected Tab Button */
.tabANew {
    box-shadow: inset 0 -5px #ffffff !important;
}

/* Tab On Pages */
.menuShortTabNew {
    background-color: rgb(101 101 101 / 80%) !important;
}

/* All Mains Text etc */
.material-icons, .toolbarItem, .toolbarDropDownItem, .panelLabel, .section, .header>a, .subheader>a, .qs_textarea, #versionTxt, .windowHeader>div, .menuTabsNew>div, .inlineLabel, .mapListItem>*>a { /* Changed Full White Color */
    color: #ffffff !important;
}

/* "File" etc Top Hover Buttons */
.toolbarItem:hover, .toolbarDropDownItem:hover, .toolbarDropDownItem:hover, .publishAsset:hover {  /* #919191 Color */
    background-color: #919191 !important;
}

/* "Spawn Points" etc Text Page */
#canvasInfo { /* No Box Shadow, rgb(0 0 0 / .5) Background Color */
    box-shadow: none !important;
    background-color: rgb(0 0 0 / .5) !important;
}

/* "Yendis Entertainment" Text */
#versionTxt > span { /* White Color */
    color: #fff !important;
}

/* "Play" "Host" Buttons On Top Bar */
.playbarItemL:hover, .playbarItemR:hover { /* rgb(167 167 167) Background Color */
    background-color: rgb(167 167 167) !important;
}

/* by"Made" Text */
a:visited { /* White Color */
    color: #ffffff !important;
}

/* by"Made" Text */
a { /* White Color */
    color: #ffffff !important;
}

/* "by" Text */
#modList > div > div > span { /* White Color */
    color: #fff !important;
}

/* "Search" Button */
.searchBtn { /* rgb(248 96 96) Background Color */
    background-color: rgb(248 96 96) !important;
}

/* "Search" Hover Button */
.searchBtn:hover { /* rgb(164 64 64) Background Color */
    filter: none;
    -webkit-filter: none;
    background-color: rgb(164 64 64) !important;
}

/* "Import" etc Buttons On Templates Popup */
.editInfoI:hover { /* .6 Opacity #616161 Background Color */
    opacity: .6;
    background-color: #616161 !important;
}

/* Quick GUI Menu */
.qs_main { /* No Box Shadow */
    box-shadow: none !important;
    background-color: rgb(53 53 53 / 82%) !important;
}

/* "Use these templates to Quickstart your Project" Text */
#menuWindow > div { /* White Color */
    color: #ffffff !important
}

/* Horizontal Rule */
hr { /* Hide Horizontal Rule */
    border-color: rgb(0 0 0 / 0) !important;
}

/* Input Text */
.inlineInput { /* White Background Color */
    background-color: #fff !important;
}

/* Input Hover Text */
.inlineInput:hover { /* #a3a3a3 Color */
    background-color: #a3a3a3 !important;
}

/* Slider Val */
.sliderVal { /* rgb(248 96 96) Background Color */
    background: rgb(248 96 96) !important;
}

/* Slider Hover Val */
.sliderVal:hover { /* rgb(164 64 64) Background Color */
    background: rgb(164 64 64) !important;
}

/* SliderM Hover */
.sliderM:hover { /* #888 Background Color */
    background-color: #888 !important;
}

/* SliderM */
.sliderM { /* White Background Color */
    background-color: #fff !important;
}

/* Select */
select { /* White Background Color */
    background-color: #fff !important;
}

/* Select Hover */
select:hover { /* #888 Background Color */
    background-color: #888 !important;
}

/* "Back" Hover Button On Controls */
#menuWindow > div:nth-child(1) > div.windowHeader > div:nth-child(1) > i:hover {
    color: #888 !important;
}

/* Quick Add Buttons */
.previewDesc { /* White Transparent 50% Background Color */
    background-color: rgb(255 255 255 / 50%) !important;
}

/* Quick Add Hover Buttons */
.previewDesc div { /* Black Text Color */
    color: #000 !important;
}

/* Quick Add Button */
#canvasAdd { /* rgb(0 0 0 / .5) Background Color And No Box Shadow */
    background-color: rgb(0 0 0 / .5) !important;
    box-shadow: none;
}
/* Quick Add Hover Button */
#canvasAdd:hover { /* rgb(167 167 167) Background Color */
    background-color: rgb(167 167 167) !important;
}

/* Assets "Clutter" etc Text */
#assetList > div > div > span { /* White Text Color */
    color: white !important;
}

/* Assets "by" Text */
#assetList > div > div { /* White Text Color */
    color: white;
}

/* "by" Text Assets Search Results */
#searchResultsA > div > div > span { /* White Text Color */
    color: white !important;
}

/* "Clutter" etc Text Assets Search Results */
#searchResultsA > div > div { /* White Text Color */
    color: white;
}

/* "Loading..." On Search Assets Page */
[style="color:rgba(0,0,0,0.5);margin-top:10px"] { /* White Text Color */
    color: white !important;
}

/* "Loading..." On My Assets Page */
.loadMoreW { /* White Text Color */
    color: rgb(255 255 255) !important;
}

/* "by" Text On Mods Page */
#searchResultsM > div > div > span { /* White Text Color */
    color: white !important;
}

/* "Loading..." On Mods Page */
[style="color:rgba(0,0,0,0.5);margin-top:10px"] { /* White Text Color */
    color: white !important;
}

/* "Reset All" Hover Button In Settings Page */
[style="cursor:pointer;margin-top:5px;font-size:14px;float:right;color:#FFF;user-select:none"]:hover { /* #888 Text Color */
    color: #888 !important;
}

/* "Position" "Rotation" Input */
.vector3 input[type=number] { /* White Color */
    background-color: #fff !important;
}

/* "Position" "Rotation" Input Hover */
.vector3 input[type=number]:hover { /* #a3a3a3 Color */
    background-color: #a3a3a3 !important;
}

/* "Mod/Asset Name" Hover Input */
.smlInput:hover { /* rgb(154 154 154) Background Color */
    background-color: rgb(154 154 154) !important;
}

/* "Mod/Asset Name" Input */
.smlInput { /* White Background Color Black Text Color */
    background-color: rgb(255 255 255) !important;
    color: black !important;
}

/* "Publish" Button In Assets Page */
.publishAsset { /* White Color */
    color: rgb(255 255 255) !important;
}

/* Quick GUI Title */
.qs_title_bar { /* rgb(0 0 0 / .5) Background Color */
    background-color: rgb(53 53 53 / 0%) !important;
}

/* Quick GUI Container  */
.qs_container { /* rgb(0 0 0 / .5) Background Color */
    background-color: rgb(53 53 53 / 0%) !important;
}

/* Quick GUI Content */
.qs_content { /* rgb(0 0 0 / .5) Background Color */
    background-color: rgb(53 53 53 / 0%) !important;
}

/* Welcome Popup */
#menuWindow > div:nth-child(3) { /* rgb(34 34 34 / 0.9) Background Color */
    background-color: rgb(34 34 34 / 0.9) !important;
}

/* Welcome Popup Video */
#welcomeVideoHolder { /* rgb(0 0 0 / 90%) Background Color */
    background-color: rgb(0 0 0 / 90%) !important;
}

/* Quick Start etc Button of Welcome Popup */
.welcomeButton:hover, .welcomeButton { /* No Hover Animation */
    transform: scale(1) !important;
    transition: none !important;
}

/* [The Krunker Editor allows... etc] Info Background */
#menuWindow > div:nth-child(4) { /* rgb(23 23 23 / 0.95) Background Color */
    background-color: rgb(23 23 23 / 0.95) !important;
}

/* [Plan and... etc] Text */
.editInfoItem .edInfBody { /* White Text Color */
    color: rgb(255 255 255) !important;
}

/* [The Krunker Editor allows... etc] Text */
#editInfoBody div { /* rgb(255 255 255 / 68%) Text Color */
    color: rgb(255 255 255 / 68%) !important;
}

/* Join Now! Link */
.popupLink { /* rgb(248 96 96) Text Color, No Text Decoration */
    color: rgb(248 96 96) !important;
    text-decoration: none;
}

/* Join Now! Hover Link */
.popupLink:hover { /* White Text Color, No Text Decoration */
    color: rgb(255 255 255) !important;
    text-decoration: none;
}

/* Join Now! Active Link */
.popupLink:active { /* rgb(125 125 125) Text Color, No Text Decoration */
    color: rgb(125, 125, 125) !important;
    text-decoration: none;
}

/* Popup Background */
#popupBack { /* Transparent Background */
    background-color: rgb(0 0 0 / 0%) !important;
}

/* Login Hover Button */
.accountButton:hover { /* White Text Color, rgb(164 64 64) Background Color */
    color: rgb(255, 255, 255) !important;
    background-color: var(--mainhover) !important;
}

/* Login Button */
.accountButton { /* 3px Border Radius, White Text Color, rgb(248 96 96) Background Color */
    border-radius: 3px;
    color: rgb(255, 255, 255) !important;
    background-color: var(--main) !important;
}

/* Success Popup Icon */
[style="font-size:80px;color:#3be354!important;"] { /* Hide */
    display: none !important;
}

/* Popup Content */
#popupContent > div > div:nth-child(2) { /* White Text Color */
    color: #fff !important;
}

/* Error Popup Icon */
[style="font-size:80px;color:#e33b3b!important;"] { /* Hide */
    display: none !important;
}

/* Popup */
#popupContent { /* rgba(0, 0, 0, 0.76) Background Color */
    background-color: rgba(0, 0, 0, 0.76) !important;
}

/* Restore Hover Buttons */
.restore:hover { /* No Box Shadow, rgb(167 167 167) Background Color */
    background-color: rgb(167 167 167) !important;
    box-shadow: none !important;
}

/* Restore Buttons */
.restore { /* rgb(0 0 0 / .5) Background Color */
    background-color: rgb(0 0 0 / .5) !important;
}

/* Publish or Updated Game/Asset */
#publishPop > div > div:nth-child(1) { /* Hide */
    display: none !important;
}

/* Publish Game/Asset Popup */
#publishPop { /* rgb(213 213 213 / 89%) Background Color */
    background-color: rgb(213 213 213 / 89%);
}

/* Publish/Update Hover Button */
#pubGame:hover { /* rgb(164 64 64) Background Color */
    background-color: rgb(164 64 64) !important;
}

/* Publish/Update Button */
#pubGame { /* rgb(248 96 96) Background Color */
    background-color: rgb(248 96 96) !important;
}

/* Category */
#gameCategoryH { /* rgb(47 47 47) Text Color */
    color: rgb(47 47 47) !important;
}

/* Type, Private */
#publishAsset > div { /* rgb(47 47 47) Text Color */
    color: rgb(47 47 47) !important;
}

/* Thumbnail (.png) - Max 150KB */
#gameThumbName { /* rgb(47 47 47) Text Color */
    color: rgb(47 47 47) !important;
}

/* Category/Post to Hub */
#publishGame > div { /* rgb(47 47 47) Text Color */
    color: rgb(47 47 47) !important;
}

/* Thumbnail (.png), Lightmap (Optional) */
#gameThumbnailName, #gameLightmapName {
    color: rgb(47 47 47) !important;
}

/* Slider2 Before In Publish Game Popup */
.slider2::before { /* Better View */
    height: 20px;
    width: 22px;
    left: 5px;
    bottom: 4px;
}

/* Switch2 Button */
.switch2 { /* 50px Width, 29px Height */
    width: 50px;
    height: 29px;
}

/* Slider2 Checked Before */
input:checked+.slider2:before { /* Better Transform View */
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}

/* Slider2 Hover Checked Input In Publish Game Popup */
input:checked + .slider2:hover { /* rgb(164 64 64) Background Color */
    background-color: var(--mainhover) !important;
}

/* Slider2 Checked Input In Publish Game Popup */
input:checked+.slider2 { /* rgb(248 96 96) Background Color */
    background-color: var(--main) !important;
}

/* Slider2 Hover In Publish Game Popup */
.slider2:hover { /* rgb(113 113 113) Background Color */
    background-color: rgb(113, 113, 113) !important;
}

/* Slider2 In Publish Game Popup */
.slider2 { /* -4px Left */
    left: -4px;
}

/* Loading.../Must be lvl 20 */
#gameUpResp { /* rgb(47 47 47) Text Color */
    color: rgb(47 47 47) !important;
}

/* Diffuse...etc */
[style="color:rgba(0,0,0,0.4);margin-left:10px;font-size: 14px;"] { /* rgb(47 47 47) Text Color */
    color: rgb(47 47 47) !important;
}

/* Select Hover Buttons */
#thumbBtn:hover, #lightmapBtn:hover, #iconBtn:hover, #modelBtn:hover, #alphaBtn:hover, #specularBtn:hover, #normalBtn:hover, #diffuseBtn:hover, #emissiveBtn:hover, #soundBtn:hover, #textureBtn:hover { /* rgb(163 163 163) Background Color */
    background-color: rgb(163 163 163) !important;
}

/* Paste Data...etc Hover Input */
.mapInput:hover { /* rgb(163 163 163) Background Color */
    background: rgb(163 163 163) !important;
}

/* Active Tab */
.activeTab { /* White Text Color, No Box Shadow */
    color: #fff !important;
    box-shadow: none !important;
}

/* Hover"Text" of Publish Game/Asset */
.pubTabP:hover { /* No Box Shadow, White Text Color */
    box-shadow: none !important;
    color: #fff !important;
}

/* [UPDATED] Map */
[style="background-color:#5699EB"] { /* White Background, Black Text */
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
}

/* [NEW] Map */
[style="background-color:#E040FB"] { /* White Background, Black Text */
    background-color: rgb(255 255 255) !important;
    color: black !important;
}

/*

    Pictures:
     EditorUI: https://i.imgur.com/1XRpLI7.png
     Editor Mods Popup: https://i.imgur.com/GYJbp6R.png

*/