/* This is Nighy01's Krunker Hub Custom CSS */
/* Updated: 2021/2/15 */

/* Variables */
:root {

    /* Main Buttons */
    --mb: rgb(248 96 96);

    /* Main Hover Buttons */
    --mhb: rgb(164 64 64);

    /* Verified Icon Color */
    --vic: rgb(0, 154, 255);

    /* Premium Icon Color */
    --pic: rgb(255, 153, 0);

    /* Profile Page Buttons Color */
    --ppbc: rgb(248 96 96);

    /* Profile Page Buttons Hover Color */
    --ppbhc: rgb(164 64 64);

    /* XP Bars Color On Profile Page */
    --xpbcopp: rgb(248 96 96);

    /* Slider Input Color */
    --sic: rgb(248 96 96);

    /* Slider Hover Input Color */
    --shic: rgb(164 64 64);

}

/* Main Text */
* {
    color: rgb(0, 0, 0);
}

/* Main Link Text */
a {
    color: rgb(0, 0, 0);
}

/* Main Link Hover Text */
a:hover {
    color: rgb(0 0 0);
}

/* "By" Text */
[style="margin-top:1px;display: block;color: rgba(0,0,0,0.2);font-size: 15px;text-align: left;"] {
    color: #000 !important
}

/* Unknown */
.mapSubItm {
    color: rgb(0, 0, 0) !important;
}

/* Unknown */
[style="color: rgba(0, 0, 0, 0.6);"] {
    color: #232323 !important;
}

/* Unknown */
#mapDescr, #mapVid, #modDescr, #modVid {
    color: rgb(0, 0, 0);
}

/* Unknown */
[style="color: rgba(0,0,0,0.4);"] {
    color: rgb(53, 53, 53) !important;
}

/* Unknown */
[style="color:rgba(0,0,0,0.6)"] {
    color: black !important;
}

/* Unknown */
.follCount {
    color: rgb(0, 0, 0) !important;
}

/* Unknown */
.lName {
    color: rgb(0, 0, 0);
}

/* Unknown */
.lName:hover {
    color: rgb(0, 0, 0);
}

/* Unknown */
.mapSubDesc {
    border-top: 5px solid rgb(0, 0, 0) !important;
}

/* Krunker Hub Top Buttons */
#navBar {
    background-color: rgba(0, 0, 0, 0) !important;
}

/* Unknown */
.scrollItem {
    max-height: calc(100% - 30px);
    background-color: rgba(255, 255, 255, 0.64) !important;
    box-shadow: rgba(255, 255, 255, 0.47) 0px 7px 0px 0px !important;
}

/* Unknown */
.leaderNav2 {
    margin-bottom: 20px;
    margin-top: -25px;
    width: 741px;
    padding: 5px 35px 10px 1px;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    clip-path: polygon(0px 0px, 100% 0px, 95% 100%, 5% 100%);
    background-color: rgba(0, 0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
}

/* Unknown */
.leaderBtn2 {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 17px;
    margin-top: 8px;
    padding-left: 17px;
    padding-right: 17px;
    display: inline-block;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 6px;
    color: rgb(255, 255, 255) !important;
}

/* Unknown */
.leaderBtn2:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Market Item Card */
.marketCard {
    background-color: rgba(0, 0, 0, 0.42) !important;
    border-radius: 14px !important;
}

/* Unknown */
.cardActions {
    transition: all 0.1s ease 0s;
    background: rgba(0, 0, 0, 0.53) !important;
    color: rgb(255, 255, 255) !important;
}

/* Unknown */
.statCard {
    background-color: rgba(0, 0, 0, 0.43) !important;
}

/* Unknown */
#popupContent {
    background-color: rgba(0, 0, 0, 0.76) !important;
}

/* Unknown */
#popupBack {
    background-color: rgba(0, 0, 0, 0) !important;
}

/* Unknown */
.popupImgH {
    background-color: rgba(43, 43, 43, 0.59) !important;
}

/* Unknown */
#publishPop {
    background-color: rgba(213, 213, 213, 0.91) !important;
}

/* Unknown */
.tourneyCard {
    background-color: rgba(255, 255, 255, 0.64) !important;
}

/* Old Black Market Background */
.darkBG { /* Change to Krunker Origin Background */
    padding: 0px;
    background-image: url("https://assets.krunker.io/textures/wall_0.png");
    background-repeat: repeat;
    background-size: 300px 300px;
    image-rendering: pixelated;
    overflow: hidden;
    margin: 0px;
    background-color: rgb(109, 109, 109) !important;
}

/* Unknown */
#followPop {
    background-color: rgba(213, 213, 213, 0.8) !important;
}

/* Unknown */
.material-icons.mic1:hover {
    color: rgba(255, 255, 255, 0.61) !important;
}

/* Krunker Hub Background */
html, body { /* Change To Very Clean Background */
    background-color: rgb(109, 109, 109);
    padding: 0px;
    background-image: url("https://imgur.com/cgNsmPT");
    background-repeat: repeat;
    background-size: 300px 300px;
    image-rendering: pixelated;
    overflow: hidden;
    margin: 0px;
}

/* Old Black Market Background */
.darkBG { /* Change To Very Clean Background */
    padding: 0px;
    background-image: url("https://imgur.com/cgNsmPT");
    background-repeat: repeat;
    background-size: 300px 300px;
    image-rendering: pixelated;
    overflow: hidden;
    margin: 0px;
    background-color: rgb(109, 109, 109) !important;
}

/* Unknown */
#navTitle:hover {
    color: rgba(255, 255, 255, 0.61) !important;
}

/* Global Leaders Card */
.regionCard { /* rgba(216, 216, 216, 0.62) Box Shadow Color, rgb(255 255 255 / 0.6) Background Color */
    box-shadow: rgba(216, 216, 216, 0.62) 0px 7px 0px 0px;
    background-color: rgb(255 255 255 / 0.6) !important;
}

/* "Ends in [Count Time]" Prog */
#clanwarsProg { /* 0.7 Opacity, 0px Marign Top */
    opacity: 0.7;
    margin-top: 0px;
}

/* Sea Overlay */
#sea .overlay { /* 0.7 Opacity */
    opacity: 0.7;
}

/* Sea Overlay Mask */
#sea-mask { /* Calc 100% - 1px Width, No Water Background, 12px Border Radius, rgb(255 255 255 / 53%) Background Color */
    width: calc(100% - 1px);
    background-image: url(../img/water_0.png);
    background-repeat: no-repeat;
    background-size: 150px 150px;
    border-radius: 12px;
    background-color: rgb(255 255 255 / 53%) !important;
}

/* Global Stats Card */
#clanwarsStats { /* #0000009e Background Color, rgb(248 96 96) Border Color, No Shadow */
    background-color: #0000009e;
    border: 3px solid rgb(248 96 96);
    box-shadow: none;
}

/* "Global Stats" Text On Global Stats Card */
#clanwarsStats > div:nth-child(1) { /* rgb(248 96 96) Text Color */
    color: rgb(248 96 96) !important;
}

/* "Login" Button In Login Account Popup */
.accountButton { /* 3px Border Radius, White Text Color, rgb(248 96 96) Background Color */
    border-radius: 3px;
    color: rgb(255, 255, 255) !important;
    background-color: var(--mb) !important;
}

/* "Login" Hover Button In Login Account Popup */
.accountButton:hover { /* White Text Color, rgb(164 64 64) Background Color */
    color: rgb(255, 255, 255) !important;
    background-color: var(--mhb) !important;
}

/* Unknown */
#profileName:hover {
    color: rgba(255, 255, 255, 0.61) !important;
}

/* Top Profile Image(If you logged in) */
#profileImg { /* Hide Top Profile Image */
    display: none !important;
}

/* Unknown */
#reportBtn {
    border-radius: 3px;
}

/* Unknown */
.pItemButton2 {
    border-radius: 3px;
}

/* Unknown */
.pItemButton2:hover {
    background-color: rgb(65, 155, 63) !important;
}

/* Class Level Of Class Stats */
.classLvl { /* White Text Color */
    color: rgb(255 255 255) !important;
}

/* Class Stats XP Bars On Profile Page */
.clsXPBarC { /* rgb(248 96 96) Background Color */
    background-color: var(--xpbcopp) !important; /* Variables To XP Bars Color On Profile Page */
}

/* Unknown */
.classXPBar {
    background-color: rgb(195, 195, 195) !important;
}

/* Unknown */
.clsXPBarV {
    color: rgb(0 0 0) !important;
}

/* Unknown */
.xpBar {
    background-color: rgb(195, 195, 195) !important;
}

/* XP Bar Of Overall Stats On Profile Page */
.xpBarB { /* rgb(248 96 96) Background Color */
    background-color: rgb(248 96 96) !important;
}

/* Unknown */
.pSt strong {
    color: rgb(0, 0, 0) !important;
}

/* "Publish/Update" Hover Button On Publish Game Popup */
#pubGame:hover { /* rgb(164 64 64) Background Color */
    background-color: var(--mhb) !important;
}

/* Unknown */
.mapListItem {
    border-radius: 8px;
}

/* Unknown */
input:checked + .sliderSml:hover {
    background-color: rgb(0, 120, 216) !important;
}

/* Unknown */
.sliderSml:hover {
    background-color: rgb(130, 130, 130) !important;
}

/* Unknown */
#resetFBtn:hover {
    background-color: rgb(167, 60, 60) !important;
}

/* Unknown */
#filterRBtn:hover {
    background-color: rgb(55, 154, 52) !important;
}

/* Unknown */
#invSortB:hover {
    background-color: rgb(53, 148, 6) !important;
}

/* Unknown */
.favIcon:hover {
    transform: scale(1);
    color: rgb(199, 153, 38) !important;
}

/* Unknown */
.mapListThumb:hover {
    opacity: 0.7;
    transform: scale(1);
}

/* Unknown */
#clanwarsHelpIcon:hover {
    background-color: rgb(121, 121, 121) !important;
}

/* Unknown */
#clanwarsLeaderIcon:hover {
    background-color: rgb(121, 121, 121) !important;
}

/* Unknown */
.dropperArrow {
    transform: scale(0.5) translateY(-50px);
    transition: opacity 0.08s ease-in-out 0s, transform 0.08s cubic-bezier(0.41, 0, 0.61, 1.31) 0s;
}

/* Unknown */
#searchPInput:hover {
    background-color: rgba(175, 175, 175, 0.72) !important;
}

/* Unknown */
#searchInput:hover {
    background-color: rgba(175, 175, 175, 0.72) !important;
}

/* Unknown */
#searchInputMO:hover {
    background-color: rgba(175, 175, 175, 0.72) !important;
}

/* Unknown */
.mapInput:hover {
    background: rgb(208, 208, 208) !important;
}

/* Unknown */
.followButton:hover {
    background-color: rgb(27, 118, 191) !important;
}

/* Unknown */
.unfollowButton:hover {
    background-color: rgb(185, 49, 49) !important;
}

/* Unknown */
#regionSelect:hover {
    background-color: rgb(226, 226, 226) !important;
}

/* Unknown */
#regionSelect {
    border-radius: 5px;
}

/* Unknown */
.clanBut:hover {
    color: rgb(214, 214, 214) !important;
}

/* Unknown */
img:hover {
    opacity: 0.6;
}

/* Unknown */
#musicBtn:hover {
    color: rgb(199, 199, 199) !important;
}

/* Unknown */
.tListN {
    color: rgb(255, 255, 255) !important;
}

/* Unknown */
.declineAll:hover {
    background-color: rgb(220, 0, 0) !important;
}

/* Unknown */
.declineAll {
    color: rgb(255, 255, 255) !important;
}

/* Unknown */
[style="margin-right:5px;font-size:26px;color:#40C4FF"] {
    color: var(--vic) !important;
}

/* Unknown */
[style="color:#fbc02d"] {
    color: var(--pic) !important;
}

/* Unknown */
[style="color:#E85656"] {
    color: rgb(255, 69, 69) !important;
}

/* General Clan Text */
[style="color:rgba(0,0,0,0.4)"] {
    color: rgb(80 80 80) !important;
}

/* Unknown */
[style="background-color: #993299!important;margin-left: 5px;"]:hover {
    text-decoration: underline !important;
    color: rgb(255, 255, 255) !important;
}

/* Unknown */
[style="background-color: rgba(0, 0, 0, 0.2);"]:hover {
    color: rgb(160, 160, 160) !important;
}

/* Unknown */
[style="margin-right:-2px;font-size:32px;color:#FBC02D;vertical-align:middle;margin-top:-6px;"] {
    color: var(--pic) !important;
}

/* Unknown */
[style="margin-right:1px;font-size:32px;color:#40C4FF;vertical-align:middle;margin-top:-6px;"] {
    color: var(--vic) !important;
}

/* Unknown */
[style="color:#FBC02D"] {
    color: var(--pic) !important;
}

/* Unknown */
.buttonG:hover {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgb(177, 177, 177) 0px -7px 0px 0px inset !important;
}

/* Unknown */
.buttonR:hover {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgb(177, 177, 177) 0px -7px 0px 0px inset !important;
}

/* Unknown */
.buttonF:hover {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgb(177, 177, 177) 0px -7px 0px 0px inset !important;
}

/* Unknown */
.buttonV:hover {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgb(177, 177, 177) 0px -7px 0px 0px inset !important;
}

/* Unknown */
.buttonC:hover {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgb(177, 177, 177) 0px -7px 0px 0px inset !important;
}

/* Unknown */
.buttonT:hover {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgb(177, 177, 177) 0px -7px 0px 0px inset !important;
}

/* Unknown */
[style="color:#FBC02D;margin-top:-8px;font-size:28px;vertical-align:middle;"] {
    color: var(--pic) !important;
}

/* Unknown */
[style="color:#40C4FF;margin-top:-8px;margin-right: 4px;font-size:28px;vertical-align:middle;"] {
    color: var(--vic) !important;
}

/* Unknown */
.button.lgn {
    text-shadow: none;
    padding: 3px 8px;
    top: -8px;
    margin-left: 5px;
    left: -20px;
    border-radius: 4px;
    box-shadow: none !important;
    width: 82px !important;
    background-color: rgba(255, 255, 255, 0.64) !important;
    color: black !important;
}

/* "Enter Username" "Enter Password" Input In Login Popup */
.accountInput { /* 100% Width, 5px 5px 5px 10px Padding, 10px Marign Top, 22px Font Size, 4px Border Radius, White Background Color, Black Text Color */
    width: 100%;
    padding: 5px 5px 5px 10px;
    margin-top: 10px;
    font-size: 22px;
    border-radius: 4px;
    background-color: rgb(255 255 255) !important;
    color: black !important;
}

/* "Enter Username" "Enter Password" Hover Input In Login Popup */
.accountInput:hover { /* rgb(161 161 161) Background Color */
    background-color: rgb(161 161 161) !important;
}

/* Unknown */
.button.lgn:hover {
    transform: scale(1);
    transition: none 0s ease 0s;
    background-color: rgba(255, 255, 255, 0.4) !important;
    box-shadow: none !important;
}

/* Unknown */
#profileLogin {
    transform: scale(1);
    transition: none 0s ease 0s;
}

/* Unknown */
[style="color:#40C4FF;margin-top:4px;margin-right: 4px;font-size:28px;vertical-align:baseline;"] {
    color: var(--vic) !important;
}

/* Old "HACKER" Text On Hacker Account Profile */
#hackrText {
    color: rgb(255, 28, 28) !important;
}

/* Unknown */
[style="margin-right:2px;font-size:26px;color:#40C4FF"] {
    color: var(--vic) !important;
}

/* Unknown */
#profileKR {
    color: rgb(255, 255, 255) !important;
}

/* "KR" etc Text */
[style="color:#fff"] { /* White Text Color */
    color: white !important;
}

/* Unknown */
.tListN.inv {
    background-color: rgba(255, 255, 255, 0.42) !important;
}

/* Unknown */
.tListN.trade {
    background-color: rgba(255, 255, 255, 0.42) !important;
}

/* Unknown */
#tMsg:hover {
    background-color: rgb(199, 199, 199) !important;
}

/* Unknown */
[style="color:rgba(0,0,0,0.4);margin-left:10px;font-size: 14px;"] {
    color: rgb(47, 47, 47) !important;
}

/* Unknown */
[style="color:rgba(0,0,0,0.4);margin-top: 4px;margin-bottom: 4px;"] {
    color: rgb(47, 47, 47) !important;
}

/* Unknown */
[style="color:rgba(0,0,0,0.4);font-size:14px;margin-top:12px;"] {
    color: rgb(47, 47, 47) !important;
}

/* "0 / 100" Text On Publish Game Popup Of Asset Tab */
[style="color:rgba(0,0,0,0.4);font-size:14px;float:right;"] { /* Black Text Color */
    color: rgb(0 0 0) !important;
}

/* Unknown */
.mapInput2:hover {
    background-color: rgb(199, 199, 199) !important;
}

/* Unknown */
.pubTabP {
    color: rgb(53, 53, 53) !important;
}

/* Unknown */
.pubTabP:hover {
    color: rgb(255, 255, 255) !important;
}

/* Unknown */
.activeTab {
    box-shadow: none !important;
    color: rgb(255, 255, 255) !important;
}

/* Unknown */
.activeTab:hover {
    box-shadow: rgba(255, 255, 255, 0) 0px -5px inset !important;
    color: rgb(255, 255, 255) !important;
}

/* Unknown */
.pubTabP:hover {
    box-shadow: rgba(0, 0, 0, 0) 0px -5px inset !important;
}

/* Unknown */
[style="color:rgba(0,0,0,0.3);display: inline-block;"] {
    color: rgb(56, 56, 56) !important;
}

/* Unknown */
.mapEdit:hover {
    background-color: rgb(195, 59, 59) !important;
}

/* Unknown */
#clanwarsPlayerKillsIcon:hover {
    background-color: rgb(121, 121, 121) !important;
}

/* Unknown */
[style="margin-right:5px;image-rendering:auto;width:28px;"] {
    display: none;
}

/* Unknown */
#nameSwitch:hover {
    color: rgb(168, 168, 168) !important;
}

/* Unknown */
.menuTabNew:hover {
    box-shadow: none;
    color: rgb(255, 255, 255) !important;
}

/* Unknown */
.tabANew {
    box-shadow: rgba(0, 0, 0, 0) 0px -5px inset !important;
    color: rgb(255, 255, 255) !important;
}

/* Unknown */
.mapTabP:hover {
    box-shadow: none;
    color: rgb(255, 255, 255) !important;
}

/* Unknown */
[style="font-size:20px;color:rgba(255,255,255,0.5)"] {
    margin-left: -7px;
    font-size: 18px !important;
}

/* Unknown */
.bobB {
    animation: 0s ease 0s 1 normal none running none;
}

/* Unknown */
[style="color:#fff;font-size:20px;position:relative;margin-bottom:10px;"] {
    display: none;
}

/* Unknown */
[style="margin-top:-8px;font-size: 22px;margin-bottom:10px"] {
    display: none;
}

/* Unknown */
[style="color:#292929"] {
    color: rgb(255, 255, 255) !important;
}

/* Unknown */
.pItemDesc {
    color: rgba(255, 255, 255, 0.87) !important;
}

/* Unknown */
.cwHelpHed {
    display: none;
}

/* Unknown */
.button:hover {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgb(172, 172, 172) 0px -7px 0px 0px inset !important;
}

/* Unknown */
[style="margin-bottom:4px;width:39px;image-rendering:auto;"] {
    display: none;
}

/* [UPDATED] Map */
[style="background-color:#5699EB"] { /* White Background, Black Text */
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
}

/* [NEW] Map */
[style="background-color:#E040FB"] { /* White Background, Black Text */
    background-color: rgb(255 255 255) !important;
    color: black !important;
}

/* Unknown */
#errorDisplay {
    background-color: rgba(0, 0, 0, 0) !important;
}

/* Unknown */
#errorReloadButton {
    background: rgb(0, 176, 255) !important;
}

/* Unknown */
#errorReloadButton:hover {
    background: rgb(0, 136, 197) !important;
}

/* Unknown */
.lds-ring {
    display: none;
}

/* Unknown */
[style="font-size:80px;color:#e33b3b"] {
    display: none !important;
}

/* Unknown */
[style="font-size:20px;color:rgba(255,255,255,0.5)"] {
    color: white !important;
}

/* Unknown */
[style="font-size:80px;color:#3be354"] {
    display: none !important;
}

/* Unknown */
#errorTitle {
    color: rgb(255, 255, 255) !important;
}

/* Unknown */
.pItemTime {
    color: rgb(255, 255, 255) !important;
}

/* Unknown */
.pItemPricing {
    color: rgb(255, 207, 0) !important;
}

/* Unknown */
[style="background-color: rgba(0, 0, 0, 0.5); z-index: 999999; position: fixed; top: 0px; left: 0px; bottom: 0px; right: 0px; pointer-events: all;"] {
    background-color: rgba(0, 0, 0, 0) !important;
}

/* Unknown */
[style="background-color: white; z-index: 999999; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 20px; border-radius: 6px; box-shadow: rgb(166, 166, 166) 0px 9px 0px 0px; width: 450px; display: flex; text-align: center; flex-direction: column; justify-content: center; align-items: center; pointer-events: all;"] {
    background-color: rgba(255, 255, 255, 0.82) !important;
    width: 655px !important;
    box-shadow: rgba(224, 224, 224, 0.63) 0px 9px 0px 0px !important;
}

/* Unknown */
.likeBtn:hover {
    color: rgb(181, 49, 40) !important;
}

/* [Post] Hover Button On Feed Page */
#postButton:hover { /* No Filter, rgb(164 64 64) Background Color, No Opacity */
    filter: none;
    background-color: var(--mhb) !important;
    opacity: 999 !important;
}

/* Unknown */
#postInput:hover {
    background-color: rgba(0, 0, 0, 0.18) !important;
}

/* Unknown */
.socPost {
    background-color: rgba(255, 255, 255, 0.64) !important;
    box-shadow: rgba(255, 255, 255, 0.47) 0px 7px 0px 0px !important;
}

/* Unknown */
[style="margin-bottom:3px;font-size:25px;color:#40C4FF;vertical-align:middle"] {
    color: var(--vic) !important;
}

/* Unknown */
.material-icons.mic1:hover {
    transform: scale(1);
}

/* Unknown */
[style="font-size: 32px; text-transform: uppercase; margin-bottom: 10px;"] {
    display: none;
}

/* Unknown */
[style="color: rgba(0, 0, 0, 0.6); font-size: 20px; margin-bottom: 10px;"] {
    color: rgb(0, 0, 0) !important;
}

/* Unknown */
#rightABox {
    background-color: rgba(255, 255, 255, 0.64) !important;
    box-shadow: rgba(255, 255, 255, 0.47) 0px 7px 0px 0px !important;
}

/* Unknown */
#leftAdHol {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.64) !important;
    box-shadow: rgba(255, 255, 255, 0.47) 0px 7px 0px 0px !important;
}

/* Unknown */
#rightFollBox {
    background-color: rgba(255, 255, 255, 0.64) !important;
    box-shadow: rgba(255, 255, 255, 0.47) 0px 7px 0px 0px !important;
}

/* Unknown */
.sideBarHeader {
    border-bottom: none;
    color: rgb(0, 0, 0) !important;
}

/* Unknown */
[style="color:rgba(255,255,255,0.4);font-size:12px"] {
    color: rgb(49, 49, 49) !important;
}

/* Unknown */
.sideBarItem {
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.73) !important;
}

/* [Follow] Hover Buttons On "Who to Follow" Popup */
.reqFollB:hover { /* rgb(164 64 64) Background Color */
    background-color: rgb(164 64 64) !important;
}

/* Unknown */
.feedTab:hover {
    opacity: 999;
    transition: all 0.1s ease 0s;
    background: rgba(161, 161, 161, 0.72) !important;
    box-shadow: rgba(133, 133, 133, 0.72) 0px 7px 0px 0px !important;
}

/* Unknown */
[style="color:#fff;font-size:40px;margin-top:20px"] {
    font-size: 0px !important;
}

/* Unknown */
[style="color:#fff;font-size:40px;margin-top:20px"]::after {
    content: "No current posts, follow players!";
    font-size: 27px !important;
}

/* Reply Hover Button */
[style="font-size:33px;vertical-align:middle;margin-top:-4px;margin-right:20px"]:hover { /* White Icon Color */
    color: #ffffff !important;
}

/* Unknown */
.postTime {
    color: rgba(0, 0, 0, 0.6);
}

/* Unknown */
[style="margin-bottom:5px;font-size:25px;color:#FBC02D;vertical-align:middle;margin-left:-2px"] {
    color: var(--pic) !important;
}

/* Unknown */
[style="margin-bottom:5px;font-size:25px;color:#40C4FF;vertical-align:middle;margin-left:-2px"] {
    color: var(--vic) !important;
}

/* [Reply] Hover Button */
.replyBtn:hover { /* rgb(164 64 64) Background Color */
    background-color: rgb(164 64 64) !important;
}

/* Unknown */
.replyInput:hover {
    background-color: rgba(0, 0, 0, 0.18) !important;
}

/* Unknown */
[style="margin-right:30px;font-size:28px"]:hover {
    color: rgb(255, 255, 255) !important;
}

/* Unknown */
[style="margin-right:30px;font-size:28px"] {
    font-size: 30px !important;
}

/* Unknown */
#postTopBar {
    border-bottom: none;
}

/* Unknown */
.scrollItemNew {
    background-color: rgba(255, 255, 255, 0.64) !important;
    box-shadow: rgba(255, 255, 255, 0.47) 0px 7px 0px 0px !important;
}

/* Unknown */
.profileTabs {
    background-color: rgba(255, 255, 255, 0.64) !important;
    box-shadow: rgba(255, 255, 255, 0.47) 0px 7px 0px 0px !important;
}

/* Unknown */
.profileTab:hover {
    box-shadow: none;
    color: white !important;
}

/* Unknown */
.pTabA:hover {
    box-shadow: none;
    color: white !important;
}

/* Unknown */
.pTabA {
    cursor: default;
    box-shadow: none;
    color: white !important;
}

/* Unknown */
.classCard {
    cursor: default;
}

/* Unknown */
.pSt {
    background-color: rgba(0, 0, 0, 0.14) !important;
}

/* [Gift KR] Button */
#giftBtn { /* White Text Color, rgb(248 96 96) Background/Border Color */
    color: white !important;
    background: var(--ppbc) !important; /* Variables To Profile Page Buttons Color */
    border-color: var(--ppbc) !important; /* Variables To Profile Page Buttons Color */
}

/* [Gift KR] Hover Button */
#giftBtn:hover { /* No Animation, rgb(164 64 64) Background/Border Color */
    border-color: var(--ppbhc) !important;
    transform: scale(1);
    background-color: var(--ppbhc) !important;
}

/* Unknown */
.bottomBtn {
    transition: none 0s ease 0s;
}

/* Unknown */
#reprtBtn:hover {
    transition: none 0s ease 0s;
    transform: scale(1);
    color: rgb(255, 255, 255) !important;
    background: var(--ppbhc) !important;
}

/* Unknown */
#shareBtn:hover {
    transition: none 0s ease 0s;
    transform: scale(1);
    color: rgb(255, 255, 255) !important;
    background: var(--ppbhc) !important;
}

/* Report Button On Profile Page */
#reprtBtn { /* No Animations, 1px 10px Padding, 5px Border Radius, 5px Marign Right, rgb(248 96 96) Background Color, White Icon Color */
    transition: none 0s ease 0s;
    transform: scale(1);
    padding: 1px 10px;
    border-radius: 5px;
    margin-right: 5px;
    background: var(--ppbc) !important; /* Variables To Profile Page Buttons Color */
    color: rgb(255, 255, 255) !important;
}

/* Unknown */
#shareBtn {
    transition: none 0s ease 0s;
    transform: scale(1);
    padding: 1px 10px;
    border-radius: 5px;
    font-size: 31.8px;
    background: var(--ppbc) !important; /* Variables To Profile Page Buttons Color */
    color: rgb(255, 255, 255) !important;
}

/* Unknown */
.replyHolder {
    border-bottom: none;
}

/* "Trade" Button On Profile Page */
#tradeBtn { /* rgb(248 96 96) Background/Border Color, White Text Color */
    background: var(--ppbc) !important;
    border-color: var(--ppbc) !important;
    color: white !important;
}

/* "Trade" Hover Button On Profile Page */
#tradeBtn:hover { /* No Animation, rgb(164 64 64) Background/Border Color */
    transform: scale(1);
    background-color: var(--ppbhc) !important;
    border-color: var(--ppbhc) !important;
}

/* "Unfollow" Button On Profile Page */
.unfollow { /* White Text Color, rgb(248 96 96) Background/Border Color */
    color: white !important;
    border-color: var(--ppbc) !important;
    background: var(--ppbc) !important;
}

/* "Unfollow" Hover Button On Profile Page */
.unfollow:hover { /* No Animation, rgb(164 64 64) Background/Border Color */
    transform: scale(1);
    background-color: var(--ppbhc) !important;
    border-color: var(--ppbhc) !important;
}

/* Unknown */
.feedTab {
    background-color: rgba(255, 255, 255, 0.64) !important;
    box-shadow: rgba(255, 255, 255, 0.47) 0px 7px 0px 0px !important;
}

/* "Verify" "Unverify" Hover Button On Profile Page */
#verifyBtn:hover { /* rgb(164 64 64) Background/Border Color, White Text Color */
    background: var(--ppbhc) !important;
    border-color: var(--ppbhc) !important;
    color: white !important;
}

/* "Verify" "Unverify" Button On Profile Page */
#verifyBtn { /* rgb(248 96 96) Background/Border Color, White Text Color */
    background: var(--ppbc) !important;
    border-color: var(--ppbc) !important;
    color: white !important;
}

/* "HACKER" Text On Hacker Account Profile */
#hackText {
    z-index: 0;
    color: rgb(255 108 108) !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

/* Unknown */
[style="margin-right:-2px;font-size:32px;color:#993299;vertical-align:middle;margin-top:-6px;"] {
    color: rgb(160, 0, 160) !important;
}

/* Flag Button On Profile Page */
#flagBtn { /* No Animation, 1px 10px Padding, 5px Border Radius, 5px Marign Right, rgb(248 96 96) Background Color, White Icon Color */
    transition: none 0s ease 0s;
    padding: 1px 10px;
    border-radius: 5px;
    margin-right: 5px;
    background: var(--ppbc) !important;
    color: rgb(255, 255, 255) !important;
    transform: scale(1) !important;
}

/* Flag Hover Button On Profile Page */
#flagBtn:hover { /* White Icon Color, rgb(164 64 64) Background Color */
    color: rgb(255, 255, 255) !important;
    background: var(--ppbhc) !important;
}

/* Unknown */
[style="font-size:40px;text-align:center;"] {
    font-size: 0px !important;
}

/* Unknown */
[style="font-size:40px;text-align:center;"]::after {
    content: "No current posts";
    font-size: 20px !important;
}

/* [Follow] Buttons On "Who to Follow" Popup */
.reqFollB { /* 4px Border Radius, 53px Width, 14px Marign Left, 13px Font Size, Center Text Align, 10px Padding, 20px Line Height, 20px Height, White Text Color, rgb(248 96 96) Background Color */
    border-radius: 4px;
    width: 53px;
    margin-left: 14px;
    font-size: 13px;
    text-align: center;
    padding: 10px;
    line-height: 20px;
    height: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(248 96 96) !important;
}

/* "Follow" Button On Profile Page */
.follow { /* White Text Color, rgb(248 96 96) Background/Border Color */
    color: white !important;
    background: var(--ppbc) !important;
    border-color: var(--ppbc) !important;
}

/* "Follow" Hover Button On Profile Page */
.follow:hover { /* No Animation, rgb(164 64 64) Background/Border Color */
    transform: scale(1);
    background: var(--ppbhc) !important;
    border-color: var(--ppbhc) !important;
}

/* Unknown */
.bottomBtn:hover {
    transform: scale(1);
    filter: none;
}

/* Unknown */
.rightTopHolder {
    right: 14px;
}

/* Unknown */
.chatBlobImg:hover {
    transform: scale(1);
}

/* "Hub" Text On Top */
#hubBox {
    background-color: rgb(248 96 96) !important;
    color: white !important;
}

/* Unknown */
#giftMsg:hover {
    background-color: rgb(199, 199, 199) !important;
}

/* Unknown */
#giftIn:hover {
    background-color: rgb(199, 199, 199) !important;
}

/* Unknown */
#giftAmntFee {
    color: rgb(255, 255, 255) !important;
}

/* Unknown */
[style="display: block; background-color: rgb(43, 43, 43);"]:hover {
    background-color: rgb(43, 43, 43) !important;
}

/* Unknown */
.dateBtn:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7) !important;
}

/* Unknown */
[style="background-color:rgba(0, 0, 0, 0.6)"] {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

/* Unknown */
[style="background-color:rgba(0, 0, 0, 0.6)"]:hover {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

/* Custom Display Name(Premium) Text */
[style="color: rgb(251, 192, 45);"] {
    color: var(--pic) !important;
}

/* Unknown */
.leaderBtn:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.45) !important;
}

/* Unknown */
.pItemButton:hover {
    border-radius: 3px;
    background-color: rgb(65, 161, 63) !important;
}

/* Unknown */
#sellPriceIn:hover {
    background-color: rgb(199, 199, 199) !important;
}

/* Unknown */
[style="margin-left: 5px;font-size: 20px;line-height: 26px;background-color: #2196F3;padding: 8px;padding-left: 15px;padding-right: 15px;border-radius: 6px;color:#fff"]:hover {
    background-color: rgb(28, 121, 195) !important;
}

/* Unknown */
[style="background-color: #993299!important;margin-left: 5px;"]:hover {
    text-decoration: none;
    background-color: rgb(110, 36, 110) !important;
    color: rgb(255, 255, 255) !important;
}

/* Unknown */
#leftYTBox {
    background-color: rgba(255, 255, 255, 0);
}

/* Unknown */
#leftABox {
    background-color: rgba(255, 255, 255, 0);
}

/* Unknown */
#recYTVid {
    border-radius: 5px;
}

/* Unknown */
.toggleView:hover {
    color: white !important;
}

/* Unknown */
.scrollItemHead:hover {
    color: white !important;
}

/* Unknown */
.scrollItemNew:hover {
    color: white !important;
}

/* Unknown */
[style="display: block; width: 300px;"] {
    width: 335px !important;
}

/* Settings Popup */
#settingsPop {
    background-color: rgba(213, 213, 213, 0.82) !important;
}

/* Slider Input Checked In Settings Popup */
input:checked + .slider { /* rgb(248 96 96) Background Color */
    background-color: var(--sic) !important;
}

/* Slider Hover Input Checked In Settings Popup */
input:checked + .slider:hover { /* rgb(164 64 64) Background Color */
    background-color: var(--shic) !important;
}

/* Slider Hover Input In Settings Popup */
.slider:hover {
    background-color: rgb(113, 113, 113) !important;
}

/* Slider Val Hover Input In Settings Popup */
.sliderVal:hover { /* rgb(164 64 64) Background Color */
    background: var(--shic) !important;
}

/* Unknown */
.sliderM:hover {
    background-color: rgb(118, 118, 118) !important;
}

/* Slider Grey2 Hover Input In Settings Popup */
.inputGrey2:hover { /* rgb(158 158 158) Background Color */
    background: rgb(158, 158, 158) !important;
}

/* Slider Val In Settings Popup */
.sliderVal { /* rgb(248 96 96) Background Color */
    background: var(--sic) !important;
}

/* Slider M Input Thumb In Settings Popup */
.sliderM::-webkit-slider-thumb { /* rgb(248 96 96) Background Color */
    background-color: var(--sic) !important;
}

/* Slider M Input In Settings Popup */
.sliderM { /* #949494 Background Color */
    background-color: #949494;
}

/* Settings of "Region Stats" "UI Scale" "Disable Rarity Animations" "Show Profile Pictures" "Master Volume" Text */
.settName, .settNameSmall {
    color: rgb(0 0 0) !important;
}

/* Unknown */
.postSubInfo {
    color: rgba(0, 0, 0, 0.74) !important;
}

/* Slider Sml2 Hover Input In Settings Page */
.sliderSml2:hover {
    background-color: rgb(113, 113, 113) !important;
}

/* Slider Sml2 Hover Input Checked In Settings Page */
input:checked + .sliderSml2:hover { /* rgb(164 64 64) Background Color */
    background: var(--shic) !important;
}

/* Unknown */
.tradeSwap {
    right: -57px !important;
    color: rgb(118, 118, 118) !important;
    font-size: 60px !important;
    top: 285px !important;
}

/* Unknown */
.switch2 {
    width: 70px;
    top: 3px;
    height: 34px;
}

/* Unknown */
.slider2::before {
    height: 26px;
    width: 26px;
    left: 5px;
    bottom: 4px;
}

/* Slider2 Hover Checked Input In Publish Game Popup */
input:checked + .slider2:hover { /* rgb(164 64 64) Background Color */
    background-color: var(--shic) !important;
}

/* Slider2 Checked Input In Publish Game Popup */
input:checked+.slider2 { /* rgb(248 96 96) Background Color */
    background-color: var(--sic) !important;
}

/* Slider2 Hover In Publish Game Popup */
.slider2:hover { /* rgb(113 113 113) Background Color */
    background-color: rgb(113, 113, 113) !important;
}

/* Slider2 In Publish Game Popup */
.slider2 { /* 4px Left */
    left: 4px;
}

/* Unknown */
#clanwarsHelpVig {
    background-color: rgba(0, 0, 0, 0) !important;
}

/* Help Popup In Clan War Page */
#clanwarsHelpWin { /* rgba(51, 51, 51, 0.83) Background Color, rgb(248 96 96) Border Color */
    background-color: rgba(51, 51, 51, 0.83) !important;
    border: 3px solid rgb(248 96 96) !important;
}

/* Unknown */
[style="background-color:#2b2b2b"]:hover {
    background-color: rgb(43, 43, 43) !important;
}

/* Unknown */
input:checked + .slider2::before {
    left: 16px;
}

/* Unknown */
.lds-rings div {
    margin-top: -6px;
    left: -17.1px;
    border: none;
    animation: 0s ease 0s 1 normal none running none;
    filter: none;
}

/* Unknown */
.lds-rings div::after {
    content: "Post...";
    font-size: 14px;
    color: rgba(255, 255, 255, 0.46) !important;
}

/* Unknown */
#backgroundImage {
    opacity: 0.7;
    background-image: url("https://i.imgur.com/Xpbxmd6.png");
}

/* Unknown */
#searchInput, #searchInputMO {
    background-color: rgba(255, 255, 255, 0.78) !important;
}

/* Unknown */
.glitch::before {
    animation: 0s ease 0s 1 normal none running none;
    color: rgba(0, 0, 0, 0) !important;
}

/* Unknown */
.glitch::after {
    animation: 0s ease 0s 1 normal none running none;
    color: rgba(0, 0, 0, 0) !important;
}

/* Unknown */
.i-amphtml-layout-size-defined .i-amphtml-fill-content {
    border-radius: 5px;
}

/* Unknown */
[style="color:#F8C55C"] {
    color: rgb(255, 180, 23) !important;
}

/* Unknown */
.blueLink:visited {
    color: rgb(248 96 96) !important;
}

/* Unknown */
.blueLink {
    color: rgb(248 96 96) !important;
}

/* [Search] Hover Button On Market Page */
#marketSearchB:hover { /* rgb(164 64 64 / 0.85) Background Color */
    background-color: rgba(164 64 64 / 0.85) !important;
}

/* [Search] Button On Market Page */
#marketSearchB { /* rgb(248 96 96 / 0.85) Background Color */
    background-color: rgba(248 96 96 / 0.85) !important;
}

/* Unknown */
[style="margin-left:103px"] {
    margin-left: 0px !important;
}

/* Unknown */
#postProf {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
}

/* Unknown */
#postInput {
    margin-top: 10px;
    padding: 10px;
    vertical-align: top;
    width: 580px;
    height: 26px;
    border-radius: 4px;
}

/* Unknown */
.postCFoll {
    margin-right: 5px;
    font-size: 16px;
}

/* Unknown */
#postButton {
    margin-top: 5px;
    margin-bottom: 3px;
    height: 35px;
    width: 200px;
}

/* Unknown */
.lds-ringm div {
    border: none;
    animation: 0s ease 0s 1 normal none running none;
    margin-top: -17px;
    left: -21.5px;
    filter: none;
}

/* Unknown */
.lds-ringm div:nth-child(3) {
    animation-delay: 0s;
}

/* Unknown */
.lds-ringm div:nth-child(2) {
    animation-delay: 0s;
}

/* Unknown */
.lds-ringm div:nth-child(1) {
    animation-delay: 0s;
}

/* Reply... Button After */
.lds-ringm div::after {
    content: "Reply...";
    font-size: 18px;
    color: rgba(255, 255, 255, 0.46) !important;
}

/* Unknown */
.disFolB {
    border-radius: 4px;
    width: 74px;
    margin-left: -7px;
    font-size: 13px;
    text-align: center;
    padding: 10px;
    line-height: 20px;
    height: 20px;
}

/* Unknown */
.disFolB::after {
    content: "ed";
}

/* Unknown */
.tooltip2 {
    margin-top: 6px;
    background: rgba(18, 18, 18, 0.55) !important;
}

/* Unknown */
#profileSearch {
    display: inline-block;
    margin-top: 6px;
    margin-left: 6px;
    vertical-align: middle;
    height: 85px;
}

/* Unknown */
#aContainer {
    background-color: rgba(0, 0, 0, 0.25) !important;
    padding: 5px !important;
}

/* Unknown */
#searchBtn {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.64) !important;
}

/* Unknown */
#searchBtn:hover {
    background-color: rgba(161, 161, 161, 0.72) !important;
}

/* Unknown */
#chatScroller {
    background-color: rgba(0, 0, 0, 0) !important;
}

/* Get it on Google Play Button */
#androidDB { /* Hide That Button */
    display: none !important;
}

/* Unknown */
.chatListSep {
    border-bottom: 3px solid rgba(255, 255, 255, 0.47) !important;
}

/* Unknown */
#chatBox {
    background-color: rgba(255, 255, 255, 0.64) !important;
    box-shadow: rgba(255, 255, 255, 0.47) 0px 7px 0px 0px !important;
}

/* Unknown */
.chatHeadPFP {
    background-color: rgba(0, 0, 0, 0.18) !important;
}

/* Unknown */
#chatWithHead {
    color: rgb(0, 0, 0) !important;
}

/* Unknown */
[style="margin-right:30px;font-size:28px;color:#fff"] {
    color: rgb(0, 0, 0) !important;
}

/* Unknown */
[style="margin-right:30px;font-size:28px;color:#fff"]:hover {
    color: white !important;
}

/* [Send] Button On Trade Chat Page */
#chatBoxButton { /* rgb(248 96 96) Background Color, 5px Border Radius */
    background-color: var(--mb) !important;
    border-radius: 5px;
}

/* "Enter Message" Input On Trade Chat Page */
#chatBoxInput { /* rgba(0, 0, 0, 0.18) Background Color, Black Text Color */
    background-color: rgba(0, 0, 0, 0.18) !important;
    color: black !important;
}

/* [Send] Hover Button On Trade Chat Page */
#chatBoxButton:hover { /* No Opacity, rgb(164 64 64) Background Color */
    opacity: 999;
    background-color: var(--mhb) !important;
}

/* Unknown */
.sysChatMsg {
    border-radius: 5px;
    margin-bottom: 11px;
    padding: 6px 7px;
    font-size: 14px;
    max-width: 165px;
    margin-left: 10px;
    height: 23px;
    margin-top: 0px;
    background: rgba(0, 0, 0, 0.22) !important;
}

/* Unknown */
#chatBoxInput:hover {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

/* Download on the App Store Button */
#iosDB { /* Hide That Button */
    display: none !important;
}

/* Unknown */
.tOfferBtn.decline:hover {
    background-color: rgb(201, 48, 48) !important;
}

/* Unknown */
.tOfferBtn.accept:hover {
    background-color: rgb(56, 195, 53) !important;
}

/* Unknown */
.tOfferBtn:hover {
    filter: grayscale(0);
}

/* Unknown */
.offerCancel:hover {
    color: rgb(201, 48, 48) !important;
}

/* Unknown */
.tooltip {
    background: rgba(100, 100, 100, 0.73) !important;
}

/* Unknown */
#oProf:hover {
    text-decoration: none;
    color: rgb(0, 91, 163) !important;
}

/* Unknown */
[style="background-color:#C4F399"] {
    background-color: rgba(160, 255, 75, 0.56) !important;
}

/* Unknown */
[style="background-color:#C4F399"]:hover {
    background-color: rgba(135, 215, 64, 0.46) !important;
}

/* Unknown */
[style="margin-top:-8px;font-size:22px;margin-bottom:10px;width:100%;text-align:center"] {
    display: none;
}

/* Unknown */
[style="background-color:#ed4242"]:hover {
    background-color: rgb(237, 66, 66) !important;
}

/* Krunker Editor Button */
#editorDB { /* Hide */
    display: none;
}

/* Unknown */
.scrollView {
    color: white !important;
}

/* Unknown */
.terms {
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
}

/* Unknown */
.terms:hover {
    text-decoration: none;
    color: rgb(162, 162, 162) !important;
}

/* Unknown */
#m_blackm:hover {
    background-color: rgba(0, 0, 0, 0.45) !important;
}

/* Unknown */
#m_blackm {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

/* Unknown */
#m_stats {
    background-color: rgba(153, 50, 153, 0.64) !important;
}

/* KR Giveaway Button */
#givaButton { /* rgb(248 96 96) Background Color */
    background-color: var(--mb) !important;
}

/* KR Giveaway Hover Button */
#givaButton:hover { /* rgb(164 64 64) Background Color, No Opacity */
    background-color: var(--mhb) !important;
    opacity: 999 !important;
}

/* Unknown */
#postKR:hover {
    background-color: rgba(0, 0, 0, 0.18) !important;
}

/* Unknown */
#postKR {
    width: 575px;
}

/* Unknown */
.krGivFol {
    color: rgb(0, 0, 0) !important;
}

/* "[Follow] and Like to Enter" Text of [Follow] Hover Button */
.follBtnGiv:hover { /* rgb(164 64 64) Background Color */
    background-color: rgb(164 64 64) !important;
}

/* "[Follow] and Like to Enter" Text of [Follow] Button */
.follBtnGiv { /* rgb(248 96 96) Background Color */
    background-color: rgb(248 96 96) !important;
}

/* Unknown */
[style="color:rgba(0,0,0,0.2)"] {
    color: rgb(0, 0, 0);
}

/* "No Soldiers" Text */
[style="color:rgba(0,0,0,0.5);padding-left:8px"] {
    color: #000 !important;
}

/* "-Copyrighted Materials" Text Of Report Map/Mod Popup */
[style="color:rgba(255,255,255,0.6);margin-top:10px;"] {
    color: #fff !important;
}

/* "-Gambling" Text Of Report Map/Mod Popup */
[style="color:rgba(255,255,255,0.6);"] {
    color: #fff !important;
}

/* "-Scamming" Text Of Report Map/Mod Popup */
[style="color:rgba(255,255,255,0.6)"] {
    color: #fff !important;
}

/* "Wishlist it on STEAM" Hover Message */
#steamDB:hover { /* Adjusted To No Animation Effect And Never Transparent On Hover */
    transform: scale(1);
    opacity: 999;
}

/* "Wishlist it on STEAM" Message */
#steamDB { /* Hide "Wishlist it On STEAM" Message */
    display: none !important;
}

/* "Open Model Viewer" Hover Button */
#itemInfoBtn:hover {
    background-color: rgb(0 0 0 / 0.75) !important;
}

/* "3D" Button */
.popupImgInfo:hover { /* Full White Color And Underline Decoration */
    color: rgb(255 255 255) !important;
    text-decoration: underline;
}

/* "Find" Button */
.buyBtn:hover { /* Full White Color And Underline Decoration */
    color: rgb(255 255 255) !important;
    text-decoration: underline;
}

/* hCaptcha Popup Background */
[style="background-color: rgba(0, 0, 0, 0.5); z-index: 999999; position: fixed; inset: 0px; pointer-events: all;"] { /* Transparent Background */
    background-color: rgba(0 0 0 / 0) !important;
}

/* CookiePro Settings Background */
.onetrust-pc-dark-filter { /* Transparent Background */
    background: rgb(0 0 0 / 0%) !important;
}

/* Twitch Button On Profile Page */
#twitchBtn { /* No Transition, Transform & Changed Padding 3px 13px, Border Radius Are Same Of Report And Share Button, 4px Marign Right, White Twitch Logo Button */
    transition: none;
    transform: scale(1);
    padding: 3px 13px;
    border-radius: 5px;
    background: var(--ppbc) !important; /* Variables To Profile Page Buttons Color */
    margin-right: 4px !important;
    content: url("https://i.imgur.com/Mhf6jkd.png");
}

/* Twitch Hover Button On Profile Page */
#twitchBtn:hover { /* No Animations & No Opacity And rgb(80 26 111) Background Color */
    -webkit-transform: scale(1);
    transform: scale(1);
    filter: none;
    -webkit-filter: contrast(1);
    opacity: 999 !important;
    background-color: var(--ppbhc) !important;
}

/* "LOADING" Message */
#loadMessage > div > div:nth-child(2) { /* Full White Color */
    color: #fff !important;
}

/* "You will be charged a 10% KR Fee to post make a Giveaway Post" Message On Say something Page */
#krInptHol > div { /* Full Black Color */
    color: #000 !important;
}

/* [CLAN] Text */
#postHolder > div > div.postHead > div.postInfo > div > span > span:nth-child(2) { /* #424242 Color */
    color: #424242 !important;
}

/* [CLAN] Text On Activity Page */
#pTabContent_activity > div > div.postHead > div.postInfo > div > span > span:nth-child(2) { /* #424242 Color */
    color: #424242 !important;
}

/* "Manage Preferences" Button */
#ot-sdk-btn-floating .ot-floating-button__front { /* Hide "Manage Preferences" Button */
    display: none !important;
}

/* "Share" Button In Post */
.shareBtnHol { /* rgb(248 96 96) Background Color */
    background-color: rgb(248 96 96) !important;
}

/* "Share" Hover Button In Post */
.shareBtnHol:hover { /* rgb(164 64 64) Background Color */
    background-color: rgb(164 64 64) !important;
    opacity: 999;
}

/* "[Count] Members" Text */
#clanRoster > div > div > span { /* Black Text Color */
    color: black !important;
}

/* Market Sales Of "Count" KR */
.graphHeaderTotal {
    color: rgb(255 255 255) !important;
}

/* Market Sales Bar */
.graphHeader {
    background-color: rgb(248 96 96) !important;
}

/* "Kills" Text On Clan War */
#clanwarsInfo > div > div > div > span { /* Black Text Color */
    color: black !important;
}

/* "Clan" Text On Clan War */
#clanwarsInfo > div > div > span { /* Black Text Color */
    color: black !important;
}

/* [Reply] Button */
.replyBtn { /* rgb(248 96 96) Background Color */
    background-color: rgb(248 96 96) !important;
}

/* "Keyword: Sniper, Plasma, Wings" Hover Input In Search Market Popup */
#marketFiltTxt:hover { /* #cacaca Background Color */
    background-color: #cacaca !important;
}

/* Filter/Sort Of Hover Select */
#sortFilt:hover { /* #b7b7b7 Background Color */
    background-color: #b7b7b7 !important;
}

/* [Toggle] Button On Search Market Popup */
#filterTog, #sortTog { /* rgb(248 96 96) Background Color */
    background-color: var(--mb) !important;
}

/* [Toggle] Hover Button On Search Market Popup */
#filterTog:hover { /* rgb(164 64 64) Background Color */
    background-color: var(--mhb) !important;
}

/* Slider Sml2 Input Checked In Search Market Popup */
input:checked+.sliderSml2 { /* rgb(248 96 96) Background Color */
    background-color: var(--sic) !important;
}

/* Season Of Hover Select */
#seaFilt:hover {
    background-color: #b7b7b7 !important;
}

/* "Melee Item" etc Text On Market Page */
.itemOwn { /* White Text Color */
    color: rgb(255 255 255) !important;
}

/* [Post] Button On Feed Page */
#postButton { /* rgb(248 96 96) Background Color */
    background-color: var(--mb) !important;
}

/* [Sort] Button On Market Page */
#invSortB { /* rgb(248 96 96) Background Color */
    background-color: var(--mb) !important;
}

/* [Sort] Hover Button On Market Page */
#invSortB:hover { /* rgb(164 64 64) Background Color */
    background-color: var(--mhb) !important;
}

/* [Share] Button On Map Info Page */
.button { /* rgb(248 96 96) Background Color, rgb(164 64 64) Box Shadow Color */
    background-color: var(--mb) !important;
    box-shadow: inset 0 -7px 0 0 var(--mhb) !important;
}

/* [Host] Button On Map Info Page */
.buttonH { /* rgb(248 96 96) Background Color, rgb(164 64 64) Box Shadow Color */
    background-color: var(--mb) !important;
    box-shadow: inset 0 -7px 0 0 var(--mhb) !important;
}

/* [Play] Button On Map Info Page */
.buttonS { /* rgb(248 96 96) Background Color, rgb(164 64 64) Box Shadow Color */
    background-color: var(--mb) !important;
    box-shadow: inset 0 -7px 0 0 var(--mhb) !important;
}

/* [Report] Button On Map Info Page */
.buttonR { /* rgb(248 96 96) Background Color, rgb(164 64 64) Box Shadow Color */
    background-color: var(--mb) !important;
    box-shadow: inset 0 -7px 0 0 var(--mhb) !important;
}

/* "No active servers" Text On Map Info Page Of Servers Tab */
#activeGames > div > div { /* Black Text Color */
    color: black !important;
}

/* "Publish/Update" Button On Publish Game Popup */
#pubGame { /* rgb(248 96 96) Background Color */
    background-color: var(--mb) !important;
}

/* "Loading..." Text */
.loadMoreW { /* White Text Color */
    color: rgb(255 255 255) !important;
}

/* Top Soldiers Button In Clan War Page */
#clanwarsPlayerKillsIcon { /* rgb(248 96 96) Border Color */
    border: 3px solid rgb(248 96 96) !important;
}

/* Global Leaders Button In Clan War Page */
#clanwarsLeaderIcon { /* rgb(248 96 96) Border Color */
    border: 3px solid rgb(248 96 96) !important;
}

/* Help Button In Clan War Page */
#clanwarsHelpIcon { /* rgb(248 96 96) Border Color */
    border: 3px solid rgb(248 96 96) !important;
}

/* "Rules" In Help Clan Wars Popup */
#clanwarsHelpWin > div.cwHelpBod > a { /* rgb(248 96 96) Text Color */
    color: rgb(248 96 96) !important;
}

/* ""#1 Clan" etc Text In Help Clan Wars Popup */
.clanRewH { /* White Text Color */
    color: rgba(255,255,255) !important;
}

/* "Reward" Of "Country" Card In Clan Wars Page */
#clanwarsInfo > div > div:nth-child(1) > div { /* Black Text Color */
    color: black !important;
}

/* Search Button */
#filterRBtn { /* rgb(248 96 96) Background Color */
    background-color: var(--mb) !important;
}

/* Reset Button */
#resetFBtn { /* rgb(248 96 96) Background Color */
    background-color: var(--mb) !important;
}

/* Search Hover Button */
#filterRBtn:hover { /* rgb(164 64 64) Background Color */
    background-color: var(--mhb) !important;
}

/* Reset Hover Button */
#resetFBtn:hover { /* rgb(164 64 64) Background Color */
    background-color: var(--mhb) !important;
}

/* Category */
#gameCategoryH { /* rgb(47 47 47) Text Color */
    color: rgb(47 47 47) !important;
}

/* by/kb */
[style="color:rgba(0,0,0,0.2);font-size:15px"], [style="color: rgba(0,0,0,0.6);"] { /* rgb(47 47 47) Text Color */
    color: rgb(47 47 47) !important;
}

/* Like/Plays/Persons Icon Map/Mod */
[style="margin-left: 5px;color:rgba(255, 255, 255, 0.5);vertical-align: middle;margin-top: -3px;font-size: 18px;"], [style="margin-left: 8px;color:rgba(255, 255, 255, 0.5);vertical-align: middle;margin-top: -3px;font-size: 18px;"], [style="margin-right: 8px;color:rgba(255, 255, 255, 0.5);vertical-align: middle;margin-top: -3px;font-size: 18px;"] { /* White Icon */
    color: white !important;
}

/* Since */
.leftMidHolder { /* Black Text */
    color: rgb(0 0 0) !important;
}

/*

   Pictures:
    Social: https://i.imgur.com/skLODcg.png
    Social Profile Page: https://i.imgur.com/0FwiaXm.png

*/