/* This is Nighy01's Krunker Hub Custom CSS */
/* Updated: 2020/11/21 */

/* Variables */
:root {
    
    /* Verified Icon Color */
    --verified-icon-color: rgb(0, 154, 255);

    /* Premium Icon Color */
    --premium-icon-color: rgb(255, 153, 0);

}

/* Main Text */
* {
    color: rgb(0, 0, 0);
}

/* Main Link Text */
a {
    color: rgb(0, 0, 0);
}

/* Main Link Hover Text */
a:hover {
    color: rgb(0 0 0);
}

/* "By" Text */
[style="margin-top:1px;display: block;color: rgba(0,0,0,0.2);font-size: 15px;text-align: left;"] {
    color: #000 !important
}

/*  */
.mapSubItm {
    color: rgb(0, 0, 0) !important;
}

/*  */
[style="color: rgba(0, 0, 0, 0.6);"] {
    color: #232323 !important;
}

/*  */
#mapDescr, #mapVid, #modDescr, #modVid {
    color: rgb(0, 0, 0);
}

/*  */
[style="color: rgba(0,0,0,0.4);"] {
    color: rgb(53, 53, 53) !important;
}

/*  */
[style="color:rgba(0,0,0,0.6)"] {
    color: black !important;
}

/*  */
.follCount {
    color: rgb(0, 0, 0) !important;
}

/*  */
.lName {
    color: rgb(0, 0, 0);
}

/*  */
.lName:hover {
    color: rgb(0, 0, 0);
}

/*  */
.mapSubDesc {
    border-top: 5px solid rgb(0, 0, 0) !important;
}

/* Krunker Hub Top Buttons */
#navBar {
    background-color: rgba(0, 0, 0, 0) !important;
}

/*  */
.scrollItem {
    max-height: calc(100% - 30px);
    background-color: rgba(255, 255, 255, 0.64) !important;
    box-shadow: rgba(255, 255, 255, 0.47) 0px 7px 0px 0px !important;
}

/*  */
.leaderNav2 {
    margin-bottom: 20px;
    margin-top: -25px;
    width: 741px;
    padding: 5px 35px 10px 1px;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    clip-path: polygon(0px 0px, 100% 0px, 95% 100%, 5% 100%);
    background-color: rgba(0, 0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
}

/*  */
.leaderBtn2 {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 17px;
    margin-top: 8px;
    padding-left: 17px;
    padding-right: 17px;
    display: inline-block;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 6px;
    color: rgb(255, 255, 255) !important;
}

/*  */
.leaderBtn2:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Market Item Card */
.marketCard {
    background-color: rgba(0, 0, 0, 0.42) !important;
    border-radius: 14px !important;
}

/*  */
.cardActions {
    transition: all 0.1s ease 0s;
    background: rgba(0, 0, 0, 0.53) !important;
    color: rgb(255, 255, 255) !important;
}

/*  */
.statCard {
    background-color: rgba(0, 0, 0, 0.43) !important;
}

/*  */
#popupContent {
    background-color: rgba(0, 0, 0, 0.76) !important;
}

/*  */
#popupBack {
    background-color: rgba(0, 0, 0, 0) !important;
}

/*  */
.popupImgH {
    background-color: rgba(43, 43, 43, 0.59) !important;
}

/*  */
#publishPop {
    background-color: rgba(213, 213, 213, 0.91) !important;
}

/*  */
.tourneyCard {
    background-color: rgba(255, 255, 255, 0.64) !important;
}

/* Old Black Market Background */
.darkBG { /* Change to Krunker Origin Background */
    padding: 0px;
    background-image: url("https://assets.krunker.io/textures/wall_0.png");
    background-repeat: repeat;
    background-size: 300px 300px;
    image-rendering: pixelated;
    overflow: hidden;
    margin: 0px;
    background-color: rgb(109, 109, 109) !important;
}

/*  */
#followPop {
    background-color: rgba(213, 213, 213, 0.8) !important;
}

/*  */
.material-icons.mic1:hover {
    color: rgba(255, 255, 255, 0.61) !important;
}

/* Krunker Hub Background */
html, body { /* Change To Very Clean Background */
    background-color: rgb(109, 109, 109);
    padding: 0px;
    background-image: url("https://imgur.com/cgNsmPT");
    background-repeat: repeat;
    background-size: 300px 300px;
    image-rendering: pixelated;
    overflow: hidden;
    margin: 0px;
}

/* Old Black Market Background */
.darkBG { /* Change To Very Clean Background */
    padding: 0px;
    background-image: url("https://imgur.com/cgNsmPT");
    background-repeat: repeat;
    background-size: 300px 300px;
    image-rendering: pixelated;
    overflow: hidden;
    margin: 0px;
    background-color: rgb(109, 109, 109) !important;
}

/*  */
#navTitle:hover {
    color: rgba(255, 255, 255, 0.61) !important;
}

/*  */
.regionCard {
    box-shadow: rgba(216, 216, 216, 0.62) 0px 7px 0px 0px;
    background-color: rgba(255, 255, 255, 0.54) !important;
}

/*  */
#clanwarsProg {
    opacity: 0.5;
    margin-top: 0px;
}

/*  */
#sea .overlay {
    opacity: 0.5;
}

/*  */
#sea-mask {
    width: calc(100% - 1px);
    background-image: url("../img/water_0.png");
    background-repeat: no-repeat;
    background-size: 150px 150px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0) !important;
}

/*  */
.accountButton {
    border-radius: 3px;
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 142, 255) !important;
}

/*  */
.accountButton:hover {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 117, 210) !important;
}

/*  */
#profileName:hover {
    color: rgba(255, 255, 255, 0.61) !important;
}

/* Top Profile Image(If you logged in) */
#profileImg { /* Hide Top Profile Image */
    display: none !important;
}

/*  */
#reportBtn {
    border-radius: 3px;
}

/*  */
.pItemButton2 {
    border-radius: 3px;
}

/*  */
.pItemButton2:hover {
    background-color: rgb(65, 155, 63) !important;
}

/*  */
.classLvl {
    color: rgb(255, 207, 0) !important;
}

/*  */
.clsXPBarC {
    background-color: rgb(255, 207, 0) !important;
}

/*  */
.classXPBar {
    background-color: rgb(195, 195, 195) !important;
}

/*  */
.clsXPBarV {
    color: rgb(0, 0, 0) !important;
}

/*  */
.xpBar {
    background-color: rgb(195, 195, 195) !important;
}

/*  */
.xpBarB {
    background-color: rgb(255, 207, 0) !important;
}

/*  */
.pSt strong {
    color: rgb(0, 0, 0) !important;
}

/*  */
#pubGame:hover {
    background-color: rgb(0, 117, 210) !important;
}

/*  */
.mapListItem {
    border-radius: 8px;
}

/*  */
input:checked + .sliderSml:hover {
    background-color: rgb(0, 120, 216) !important;
}

/*  */
.sliderSml:hover {
    background-color: rgb(130, 130, 130) !important;
}

/*  */
#resetFBtn:hover {
    background-color: rgb(167, 60, 60) !important;
}

/*  */
#filterRBtn:hover {
    background-color: rgb(55, 154, 52) !important;
}

/*  */
#invSortB:hover {
    background-color: rgb(53, 148, 6) !important;
}

/*  */
.favIcon:hover {
    transform: scale(1);
    color: rgb(199, 153, 38) !important;
}

/*  */
.mapListThumb:hover {
    opacity: 0.7;
    transform: scale(1);
}

/*  */
#clanwarsHelpIcon:hover {
    background-color: rgb(121, 121, 121) !important;
}

/*  */
#clanwarsLeaderIcon:hover {
    background-color: rgb(121, 121, 121) !important;
}

/*  */
.dropperArrow {
    transform: scale(0.5) translateY(-50px);
    transition: opacity 0.08s ease-in-out 0s, transform 0.08s cubic-bezier(0.41, 0, 0.61, 1.31) 0s;
}

/*  */
#searchPInput:hover {
    background-color: rgba(175, 175, 175, 0.72) !important;
}

/*  */
#searchInput:hover {
    background-color: rgba(175, 175, 175, 0.72) !important;
}

/*  */
#searchInputMO:hover {
    background-color: rgba(175, 175, 175, 0.72) !important;
}

/*  */
.mapInput:hover {
    background: rgb(208, 208, 208) !important;
}

/*  */
.followButton:hover {
    background-color: rgb(27, 118, 191) !important;
}

/*  */
.unfollowButton:hover {
    background-color: rgb(185, 49, 49) !important;
}

/*  */
#regionSelect:hover {
    background-color: rgb(226, 226, 226) !important;
}

/*  */
#regionSelect {
    border-radius: 5px;
}

/*  */
.clanBut:hover {
    color: rgb(214, 214, 214) !important;
}

/*  */
img:hover {
    opacity: 0.6;
}

/*  */
#musicBtn:hover {
    color: rgb(199, 199, 199) !important;
}

/*  */
.tListN {
    color: rgb(255, 255, 255) !important;
}

/*  */
.declineAll:hover {
    background-color: rgb(220, 0, 0) !important;
}

/*  */
.declineAll {
    color: rgb(255, 255, 255) !important;
}

/*  */
[style="margin-right:5px;font-size:26px;color:#40C4FF"] {
    color: var(--verified-icon-color) !important;
}

/*  */
[style="color:#fbc02d"] {
    color: var(--premium-icon-color) !important;
}

/*  */
[style="color:#E85656"] {
    color: rgb(255, 69, 69) !important;
}

/* General Clan Text */
[style="color:rgba(0,0,0,0.4)"] {
    color: rgb(80 80 80) !important;
}

/*  */
[style="background-color: #993299!important;margin-left: 5px;"]:hover {
    text-decoration: underline !important;
    color: rgb(255, 255, 255) !important;
}

/*  */
[style="background-color: rgba(0, 0, 0, 0.2);"]:hover {
    color: rgb(160, 160, 160) !important;
}

/*  */
[style="margin-right:-2px;font-size:32px;color:#FBC02D;vertical-align:middle;margin-top:-6px;"] {
    color: var(--premium-icon-color) !important;
}

/*  */
[style="margin-right:1px;font-size:32px;color:#40C4FF;vertical-align:middle;margin-top:-6px;"] {
    color: var(--verified-icon-color) !important;
}

/*  */
[style="color:#FBC02D"] {
    color: var(--premium-icon-color) !important;
}

/*  */
.buttonG:hover {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgb(177, 177, 177) 0px -7px 0px 0px inset !important;
}

/*  */
.buttonR:hover {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgb(177, 177, 177) 0px -7px 0px 0px inset !important;
}

/*  */
.buttonF:hover {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgb(177, 177, 177) 0px -7px 0px 0px inset !important;
}

/*  */
.buttonV:hover {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgb(177, 177, 177) 0px -7px 0px 0px inset !important;
}

/*  */
.buttonC:hover {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgb(177, 177, 177) 0px -7px 0px 0px inset !important;
}

/*  */
.buttonT:hover {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgb(177, 177, 177) 0px -7px 0px 0px inset !important;
}

/*  */
[style="color:#FBC02D;margin-top:-8px;font-size:28px;vertical-align:middle;"] {
    color: var(--premium-icon-color) !important;
}

/*  */
[style="color:#40C4FF;margin-top:-8px;margin-right: 4px;font-size:28px;vertical-align:middle;"] {
    color: var(--verified-icon-color) !important;
}

/*  */
.button.lgn {
    text-shadow: none;
    padding: 3px 8px;
    top: -8px;
    margin-left: 5px;
    left: -20px;
    border-radius: 4px;
    box-shadow: none !important;
    width: 82px !important;
    background-color: rgba(255, 255, 255, 0.64) !important;
    color: black !important;
}

/*  */
.accountInput {
    width: 100%;
    padding: 5px 5px 5px 10px;
    margin-top: 10px;
    font-size: 22px;
    border-radius: 4px;
    background-color: rgb(199, 199, 199) !important;
    color: white !important;
}

/*  */
.accountInput:hover {
    background-color: rgb(148, 148, 148) !important;
}

/*  */
.button.lgn:hover {
    transform: scale(1);
    transition: none 0s ease 0s;
    background-color: rgba(255, 255, 255, 0.4) !important;
    box-shadow: none !important;
}

/*  */
#profileLogin {
    transform: scale(1);
    transition: none 0s ease 0s;
}

/*  */
[style="color:#40C4FF;margin-top:4px;margin-right: 4px;font-size:28px;vertical-align:baseline;"] {
    color: var(--verified-icon-color) !important;
}

/* Old "HACKER" Text On Hacker Account Profile */
#hackrText {
    color: rgb(255, 28, 28) !important;
}

/*  */
[style="margin-right:2px;font-size:26px;color:#40C4FF"] {
    color: var(--verified-icon-color) !important;
}

/*  */
#profileKR {
    color: rgb(255, 255, 255) !important;
}

/*  */
[style="color:#fff"] {
    color: rgb(255, 193, 0) !important;
}

/*  */
.tListN.inv {
    background-color: rgba(255, 255, 255, 0.42) !important;
}

/*  */
.tListN.trade {
    background-color: rgba(255, 255, 255, 0.42) !important;
}

/*  */
#tMsg:hover {
    background-color: rgb(199, 199, 199) !important;
}

/*  */
[style="color:rgba(0,0,0,0.4);margin-left:10px;font-size: 14px;"] {
    color: rgb(47, 47, 47) !important;
}

/*  */
[style="color:rgba(0,0,0,0.4);margin-top: 4px;margin-bottom: 4px;"] {
    color: rgb(47, 47, 47) !important;
}

/*  */
[style="color:rgba(0,0,0,0.4);font-size:14px;margin-top:12px;"] {
    color: rgb(47, 47, 47) !important;
}

/*  */
[style="color:rgba(0,0,0,0.4);font-size:14px;float:right;"] {
    color: rgb(0, 180, 255) !important;
}

/*  */
.mapInput2:hover {
    background-color: rgb(199, 199, 199) !important;
}

/*  */
.pubTabP {
    color: rgb(53, 53, 53) !important;
}

/*  */
.pubTabP:hover {
    color: rgb(255, 255, 255) !important;
}

/*  */
.activeTab {
    box-shadow: none !important;
    color: rgb(255, 255, 255) !important;
}

/*  */
.activeTab:hover {
    box-shadow: rgba(255, 255, 255, 0) 0px -5px inset !important;
    color: rgb(255, 255, 255) !important;
}

/*  */
.pubTabP:hover {
    box-shadow: rgba(0, 0, 0, 0) 0px -5px inset !important;
}

/*  */
[style="color:rgba(0,0,0,0.3);display: inline-block;"] {
    color: rgb(56, 56, 56) !important;
}

/*  */
.mapEdit:hover {
    background-color: rgb(195, 59, 59) !important;
}

/*  */
#clanwarsPlayerKillsIcon:hover {
    background-color: rgb(121, 121, 121) !important;
}

/*  */
[style="margin-right:5px;image-rendering:auto;width:28px;"] {
    display: none;
}

/*  */
#nameSwitch:hover {
    color: rgb(168, 168, 168) !important;
}

/*  */
.menuTabNew:hover {
    box-shadow: none;
    color: rgb(255, 255, 255) !important;
}

/*  */
.tabANew {
    box-shadow: rgba(0, 0, 0, 0) 0px -5px inset !important;
    color: rgb(255, 255, 255) !important;
}

/*  */
.mapTabP:hover {
    box-shadow: none;
    color: rgb(255, 255, 255) !important;
}

/*  */
[style="font-size:20px;color:rgba(255,255,255,0.5)"] {
    margin-left: -7px;
    font-size: 18px !important;
}

/*  */
.bobB {
    animation: 0s ease 0s 1 normal none running none;
}

/*  */
[style="color:#fff;font-size:20px;position:relative;margin-bottom:10px;"] {
    display: none;
}

/*  */
[style="margin-top:-8px;font-size: 22px;margin-bottom:10px"] {
    display: none;
}

/*  */
[style="color:#292929"] {
    color: rgb(255, 255, 255) !important;
}

/*  */
.pItemDesc {
    color: rgba(255, 255, 255, 0.87) !important;
}

/*  */
.cwHelpHed {
    display: none;
}

/*  */
.button:hover {
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgb(172, 172, 172) 0px -7px 0px 0px inset !important;
}

/*  */
[style="margin-bottom:4px;width:39px;image-rendering:auto;"] {
    display: none;
}

/*  */
[style="background-color:#5699EB"] {
    background-color: rgb(0, 115, 255) !important;
}

/*  */
[style="background-color:#E040FB"] {
    background-color: rgb(218, 0, 255) !important;
}

/*  */
#errorDisplay {
    background-color: rgba(0, 0, 0, 0) !important;
}

/*  */
#errorReloadButton {
    background: rgb(0, 176, 255) !important;
}

/*  */
#errorReloadButton:hover {
    background: rgb(0, 136, 197) !important;
}

/*  */
.lds-ring {
    display: none;
}

/*  */
[style="font-size:80px;color:#e33b3b"] {
    display: none !important;
}

/*  */
[style="font-size:20px;color:rgba(255,255,255,0.5)"] {
    color: white !important;
}

/*  */
[style="font-size:80px;color:#3be354"] {
    display: none !important;
}

/*  */
#errorTitle {
    color: rgb(255, 255, 255) !important;
}

/*  */
.pItemTime {
    color: rgb(255, 255, 255) !important;
}

/*  */
.pItemPricing {
    color: rgb(255, 207, 0) !important;
}

/*  */
[style="background-color: rgba(0, 0, 0, 0.5); z-index: 999999; position: fixed; top: 0px; left: 0px; bottom: 0px; right: 0px; pointer-events: all;"] {
    background-color: rgba(0, 0, 0, 0) !important;
}

/*  */
[style="background-color: white; z-index: 999999; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 20px; border-radius: 6px; box-shadow: rgb(166, 166, 166) 0px 9px 0px 0px; width: 450px; display: flex; text-align: center; flex-direction: column; justify-content: center; align-items: center; pointer-events: all;"] {
    background-color: rgba(255, 255, 255, 0.82) !important;
    width: 655px !important;
    box-shadow: rgba(224, 224, 224, 0.63) 0px 9px 0px 0px !important;
}

/*  */
.likeBtn:hover {
    color: rgb(181, 49, 40) !important;
}

/*  */
#postButton:hover {
    filter: none;
    background-color: rgb(49, 97, 174) !important;
    opacity: 999 !important;
}

/*  */
#postInput:hover {
    background-color: rgba(0, 0, 0, 0.18) !important;
}

/*  */
.socPost {
    background-color: rgba(255, 255, 255, 0.64) !important;
    box-shadow: rgba(255, 255, 255, 0.47) 0px 7px 0px 0px !important;
}

/*  */
[style="margin-bottom:3px;font-size:25px;color:#40C4FF;vertical-align:middle"] {
    color: var(--verified-icon-color) !important;
}

/*  */
.material-icons.mic1:hover {
    transform: scale(1);
}

/*  */
[style="font-size: 32px; text-transform: uppercase; margin-bottom: 10px;"] {
    display: none;
}

/*  */
[style="color: rgba(0, 0, 0, 0.6); font-size: 20px; margin-bottom: 10px;"] {
    color: rgb(0, 0, 0) !important;
}

/*  */
#rightABox {
    background-color: rgba(255, 255, 255, 0.64) !important;
    box-shadow: rgba(255, 255, 255, 0.47) 0px 7px 0px 0px !important;
}

/*  */
#leftAdHol {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.64) !important;
    box-shadow: rgba(255, 255, 255, 0.47) 0px 7px 0px 0px !important;
}

/*  */
#rightFollBox {
    background-color: rgba(255, 255, 255, 0.64) !important;
    box-shadow: rgba(255, 255, 255, 0.47) 0px 7px 0px 0px !important;
}

/*  */
.sideBarHeader {
    border-bottom: none;
    color: rgb(0, 0, 0) !important;
}

/*  */
[style="color:rgba(255,255,255,0.4);font-size:12px"] {
    color: rgb(49, 49, 49) !important;
}

/*  */
.sideBarItem {
    background-color: rgba(0, 0, 0, 0.05);
    margin-bottom: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.73) !important;
}

/*  */
.reqFollB:hover {
    background-color: rgb(0, 86, 154) !important;
}

/*  */
.feedTab:hover {
    opacity: 999;
    transition: all 0.1s ease 0s;
    background: rgba(161, 161, 161, 0.72) !important;
    box-shadow: rgba(133, 133, 133, 0.72) 0px 7px 0px 0px !important;
}

/*  */
[style="color:#fff;font-size:40px;margin-top:20px"] {
    font-size: 0px !important;
}

/*  */
[style="color:#fff;font-size:40px;margin-top:20px"]::after {
    content: "No current posts, follow players!";
    font-size: 27px !important;
}

/*  */
[style="font-size:33px;vertical-align:middle;margin-top:-4px;margin-right:20px"]:hover {
    color: rgb(0, 189, 255) !important;
}

/*  */
.postTime {
    color: rgba(0, 0, 0, 0.6);
}

/*  */
[style="margin-bottom:5px;font-size:25px;color:#FBC02D;vertical-align:middle;margin-left:-2px"] {
    color: var(--premium-icon-color) !important;
}

/*  */
[style="margin-bottom:5px;font-size:25px;color:#40C4FF;vertical-align:middle;margin-left:-2px"] {
    color: var(--verified-icon-color) !important;
}

/*  */
.replyBtn:hover {
    background-color: rgb(49, 97, 174) !important;
}

/*  */
.replyInput:hover {
    background-color: rgba(0, 0, 0, 0.18) !important;
}

/*  */
[style="margin-right:30px;font-size:28px"]:hover {
    color: rgb(255, 255, 255) !important;
}

/*  */
[style="margin-right:30px;font-size:28px"] {
    font-size: 30px !important;
}

/*  */
#postTopBar {
    border-bottom: none;
}

/*  */
.scrollItemNew {
    background-color: rgba(255, 255, 255, 0.64) !important;
    box-shadow: rgba(255, 255, 255, 0.47) 0px 7px 0px 0px !important;
}

/*  */
.profileTabs {
    background-color: rgba(255, 255, 255, 0.64) !important;
    box-shadow: rgba(255, 255, 255, 0.47) 0px 7px 0px 0px !important;
}

/*  */
.profileTab:hover {
    box-shadow: none;
    color: white !important;
}

/*  */
.pTabA:hover {
    box-shadow: none;
    color: white !important;
}

/*  */
.pTabA {
    cursor: default;
    box-shadow: none;
    color: white !important;
}

/*  */
.classCard {
    cursor: default;
}

/*  */
.pSt {
    background-color: rgba(0, 0, 0, 0.14) !important;
}

/*  */
#giftBtn {
    color: white !important;
    background: rgb(65, 195, 0) !important;
}

/*  */
#giftBtn:hover {
    border-color: rgb(45, 134, 0);
    transform: scale(1);
    background-color: rgb(45, 134, 0) !important;
}

/*  */
.bottomBtn {
    transition: none 0s ease 0s;
}

/*  */
#reprtBtn:hover {
    transition: none 0s ease 0s;
    transform: scale(1);
    color: rgb(255, 255, 255) !important;
    background: rgb(183, 51, 51) !important;
}

/*  */
#shareBtn:hover {
    transition: none 0s ease 0s;
    transform: scale(1);
    color: rgb(255, 255, 255) !important;
    background: rgb(27, 118, 190) !important;
}

/*  */
#reprtBtn {
    transition: none 0s ease 0s;
    transform: scale(1);
    padding: 1px 10px;
    border-radius: 5px;
    margin-right: 5px;
    background: rgb(255, 71, 71) !important;
    color: rgb(255, 255, 255) !important;
}

/*  */
#shareBtn {
    transition: none 0s ease 0s;
    transform: scale(1);
    padding: 1px 10px;
    border-radius: 5px;
    font-size: 31.8px;
    background: rgb(33, 150, 243) !important;
    color: rgb(255, 255, 255) !important;
}

/*  */
.replyHolder {
    border-bottom: none;
}

/*  */
#tradeBtn {
    background: rgb(33, 150, 243) !important;
    color: white !important;
}

/*  */
#tradeBtn:hover {
    transform: scale(1);
    background-color: rgb(26, 117, 189) !important;
    border-color: rgb(26, 117, 189) !important;
}

/*  */
.unfollow {
    color: white !important;
    background: rgb(255, 71, 71) !important;
}

/*  */
.unfollow:hover {
    transform: scale(1);
    background-color: rgb(201, 56, 56) !important;
    border-color: rgb(201, 56, 56) !important;
}

/*  */
.feedTab {
    background-color: rgba(255, 255, 255, 0.64) !important;
    box-shadow: rgba(255, 255, 255, 0.47) 0px 7px 0px 0px !important;
}

/*  */
#verifyBtn {
    background: rgb(0, 176, 255) !important;
    border-color: rgb(0, 176, 255) !important;
    color: white !important;
}

/* "Verify" Hover Button On Profile */
#verifyBtn:hover {
    background: rgb(0, 134, 194) !important;
    border-color: rgb(0, 134, 194) !important;
    color: white !important;
}

/* "HACKER" Text On Hacker Account Profile */
#hackText {
    z-index: 0;
    font-size: 23px;
    padding: 66px;
    left: -160px;
    top: -30px;
    color: rgb(255, 0, 0) !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

/*  */
[style="margin-right:-2px;font-size:32px;color:#993299;vertical-align:middle;margin-top:-6px;"] {
    color: rgb(160, 0, 160) !important;
}

/*  */
#flagBtn {
    transition: none 0s ease 0s;
    padding: 1px 10px;
    border-radius: 5px;
    margin-right: 5px;
    background: rgb(255, 169, 0) !important;
    color: rgb(255, 255, 255) !important;
    transform: scale(1) !important;
}

/*  */
#flagBtn:hover {
    color: rgb(255, 255, 255) !important;
    background: rgb(197, 131, 0) !important;
}

/*  */
[style="font-size:40px;text-align:center;"] {
    font-size: 0px !important;
}

/*  */
[style="font-size:40px;text-align:center;"]::after {
    content: "No current posts";
    font-size: 20px !important;
}

/*  */
.reqFollB {
    border-radius: 4px;
    width: 53px;
    margin-left: 14px;
    font-size: 13px;
    text-align: center;
    padding: 10px;
    line-height: 20px;
    height: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 142, 255) !important;
}

/*  */
.follow {
    color: white !important;
    background: rgb(64, 196, 255) !important;
}

/*  */
.follow:hover {
    transform: scale(1);
    background: rgb(53, 159, 206) !important;
    border-color: rgb(53, 159, 206) !important;
}

/*  */
.bottomBtn:hover {
    transform: scale(1);
    filter: none;
}

/*  */
.rightTopHolder {
    right: 14px;
}

/*  */
.chatBlobImg:hover {
    transform: scale(1);
}

/*  */
#hubBox {
    background-color: rgb(35, 120, 255) !important;
    color: white !important;
}

/*  */
#giftMsg:hover {
    background-color: rgb(199, 199, 199) !important;
}

/*  */
#giftIn:hover {
    background-color: rgb(199, 199, 199) !important;
}

/*  */
#giftAmntFee {
    color: rgb(255, 255, 255) !important;
}

/*  */
[style="display: block; background-color: rgb(43, 43, 43);"]:hover {
    background-color: rgb(43, 43, 43) !important;
}

/*  */
.dateBtn:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.7) !important;
}

/*  */
[style="background-color:rgba(0, 0, 0, 0.6)"] {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

/*  */
[style="background-color:rgba(0, 0, 0, 0.6)"]:hover {
    background-color: rgba(0, 0, 0, 0.7) !important;
}

/* Custom Display Name(Premium) Text */
[style="color: rgb(251, 192, 45);"] {
    color: var(--premium-icon-color) !important;
}

/*  */
.leaderBtn:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.45) !important;
}

/*  */
.pItemButton:hover {
    border-radius: 3px;
    background-color: rgb(65, 161, 63) !important;
}

/*  */
#sellPriceIn:hover {
    background-color: rgb(199, 199, 199) !important;
}

/*  */
[style="margin-left: 5px;font-size: 20px;line-height: 26px;background-color: #2196F3;padding: 8px;padding-left: 15px;padding-right: 15px;border-radius: 6px;color:#fff"]:hover {
    background-color: rgb(28, 121, 195) !important;
}

/*  */
[style="background-color: #993299!important;margin-left: 5px;"]:hover {
    text-decoration: none;
    background-color: rgb(110, 36, 110) !important;
    color: rgb(255, 255, 255) !important;
}

/*  */
#leftYTBox {
    background-color: rgba(255, 255, 255, 0);
}

/*  */
#leftABox {
    background-color: rgba(255, 255, 255, 0);
}

/*  */
#recYTVid {
    border-radius: 5px;
}

/*  */
.toggleView:hover {
    color: white !important;
}

/*  */
.scrollItemHead:hover {
    color: white !important;
}

/*  */
.scrollItemNew:hover {
    color: white !important;
}

/*  */
[style="display: block; width: 300px;"] {
    width: 335px !important;
}

/*  */
#settingsPop {
    background-color: rgba(213, 213, 213, 0.82) !important;
}

/*  */
input:checked + .slider {
    background-color: rgb(0, 147, 255) !important;
}

/*  */
input:checked + .slider:hover {
    background-color: rgb(0, 119, 206) !important;
}

/*  */
.slider:hover {
    background-color: rgb(113, 113, 113) !important;
}

/*  */
.sliderVal:hover {
    background: rgb(26, 113, 183) !important;
}

/*  */
.sliderM:hover {
    background-color: rgb(118, 118, 118) !important;
}

/*  */
.inputGrey2:hover {
    background: rgb(158, 158, 158) !important;
}

/* Settings of "Region Stats" "UI Scale" "Disable Rarity Animations" "Show Profile Pictures" "Master Volume" Text */
.settName, .settNameSmall {
    color: rgb(0 0 0) !important;
}

/*  */
.postSubInfo {
    color: rgba(0, 0, 0, 0.74) !important;
}

/*  */
.sliderSml2:hover {
    background-color: rgb(113, 113, 113) !important;
}

/*  */
input:checked + .sliderSml2:hover {
    background: rgb(26, 113, 183) !important;
}

/*  */
.tradeSwap {
    right: -57px !important;
    color: rgb(118, 118, 118) !important;
    font-size: 60px !important;
    top: 285px !important;
}

/*  */
.switch2 {
    width: 70px;
    top: 3px;
    height: 34px;
}

/*  */
.slider2::before {
    height: 26px;
    width: 26px;
    left: 5px;
    bottom: 4px;
}

/*  */
input:checked + .slider2:hover {
    background-color: rgb(0, 119, 206) !important;
}

/*  */
.slider2:hover {
    background-color: rgb(113, 113, 113) !important;
}

/*  */
.slider2 {
    left: 4px;
}

/*  */
#clanwarsHelpVig {
    background-color: rgba(0, 0, 0, 0) !important;
}

/*  */
#clanwarsHelpWin {
    background-color: rgba(51, 51, 51, 0.83) !important;
}

/*  */
[style="background-color:#2b2b2b"]:hover {
    background-color: rgb(43, 43, 43) !important;
}

/*  */
input:checked + .slider2::before {
    left: 16px;
}

/*  */
.lds-rings div {
    margin-top: -6px;
    left: -17.1px;
    border: none;
    animation: 0s ease 0s 1 normal none running none;
    filter: none;
}

/*  */
.lds-rings div::after {
    content: "Post...";
    font-size: 14px;
    color: rgba(255, 255, 255, 0.46) !important;
}

/*  */
#backgroundImage {
    opacity: 0.7;
    background-image: url("https://i.imgur.com/Xpbxmd6.png");
}

/*  */
#searchInput, #searchInputMO {
    background-color: rgba(255, 255, 255, 0.78) !important;
}

/*  */
.glitch::before {
    animation: 0s ease 0s 1 normal none running none;
    color: rgba(0, 0, 0, 0) !important;
}

/*  */
.glitch::after {
    animation: 0s ease 0s 1 normal none running none;
    color: rgba(0, 0, 0, 0) !important;
}

/*  */
.i-amphtml-layout-size-defined .i-amphtml-fill-content {
    border-radius: 5px;
}

/*  */
[style="color:#F8C55C"] {
    color: rgb(255, 180, 23) !important;
}

/*  */
.blueLink:visited {
    color: rgb(0, 142, 255) !important;
}

/*  */
.blueLink {
    color: rgb(0, 142, 255) !important;
}

/*  */
#marketSearchB:hover {
    background-color: rgba(24, 123, 201, 0.85) !important;
}

/*  */
#marketSearchB {
    background-color: rgba(33, 150, 243, 0.84) !important;
}

/*  */
[style="margin-left:103px"] {
    margin-left: 0px !important;
}

/*  */
#postProf {
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
}

/*  */
#postInput {
    margin-top: 10px;
    padding: 10px;
    vertical-align: top;
    width: 580px;
    height: 26px;
    border-radius: 4px;
}

/*  */
.postCFoll {
    margin-right: 5px;
    font-size: 16px;
}

/*  */
#postButton {
    margin-top: 5px;
    margin-bottom: 3px;
    height: 35px;
    width: 200px;
}

/*  */
.lds-ringm div {
    border: none;
    animation: 0s ease 0s 1 normal none running none;
    margin-top: -17px;
    left: -21.5px;
    filter: none;
}

/*  */
.lds-ringm div:nth-child(3) {
    animation-delay: 0s;
}

/*  */
.lds-ringm div:nth-child(2) {
    animation-delay: 0s;
}

/*  */
.lds-ringm div:nth-child(1) {
    animation-delay: 0s;
}

/*  */
.lds-ringm div::after {
    content: "Reply...";
    font-size: 18px;
    color: rgba(255, 255, 255, 0.46) !important;
}

/*  */
.disFolB {
    border-radius: 4px;
    width: 74px;
    margin-left: -7px;
    font-size: 13px;
    text-align: center;
    padding: 10px;
    line-height: 20px;
    height: 20px;
}

/*  */
.disFolB::after {
    content: "ed";
}

/*  */
.tooltip2 {
    margin-top: 6px;
    background: rgba(18, 18, 18, 0.55) !important;
}

/*  */
#profileSearch {
    display: inline-block;
    margin-top: 6px;
    margin-left: 6px;
    vertical-align: middle;
    height: 85px;
}

/*  */
#aContainer {
    background-color: rgba(0, 0, 0, 0.25) !important;
    padding: 5px !important;
}

/*  */
#searchBtn {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.64) !important;
}

/*  */
#searchBtn:hover {
    background-color: rgba(161, 161, 161, 0.72) !important;
}

/*  */
#chatScroller {
    background-color: rgba(0, 0, 0, 0) !important;
}

/*  */
#androidDB {
    display: none;
}

/*  */
.chatListSep {
    border-bottom: 3px solid rgba(255, 255, 255, 0.47) !important;
}

/*  */
#chatBox {
    background-color: rgba(255, 255, 255, 0.64) !important;
    box-shadow: rgba(255, 255, 255, 0.47) 0px 7px 0px 0px !important;
}

/*  */
.chatHeadPFP {
    background-color: rgba(0, 0, 0, 0.18) !important;
}

/*  */
#chatWithHead {
    color: rgb(0, 0, 0) !important;
}

/*  */
[style="margin-right:30px;font-size:28px;color:#fff"] {
    color: rgb(0, 0, 0) !important;
}

/*  */
[style="margin-right:30px;font-size:28px;color:#fff"]:hover {
    color: white !important;
}

/*  */
#chatBoxButton {
    border-radius: 5px;
}

/*  */
#chatBoxInput {
    background-color: rgba(0, 0, 0, 0.18) !important;
}

/*  */
#chatBoxButton:hover {
    opacity: 999;
    background-color: rgb(49, 97, 174) !important;
}

/*  */
.sysChatMsg {
    border-radius: 5px;
    margin-bottom: 11px;
    padding: 6px 7px;
    font-size: 14px;
    max-width: 165px;
    margin-left: 10px;
    height: 23px;
    margin-top: 0px;
    background: rgba(0, 0, 0, 0.22) !important;
}

/*  */
#chatBoxInput:hover {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

/*  */
#iosDB {
    display: none;
}

/*  */
.tOfferBtn.decline:hover {
    background-color: rgb(201, 48, 48) !important;
}

/*  */
.tOfferBtn.accept:hover {
    background-color: rgb(56, 195, 53) !important;
}

/*  */
.tOfferBtn:hover {
    filter: grayscale(0);
}

/*  */
.offerCancel:hover {
    color: rgb(201, 48, 48) !important;
}

/*  */
.tooltip {
    background: rgba(100, 100, 100, 0.73) !important;
}

/*  */
#oProf:hover {
    text-decoration: none;
    color: rgb(0, 91, 163) !important;
}

/*  */
[style="background-color:#C4F399"] {
    background-color: rgba(160, 255, 75, 0.56) !important;
}

/*  */
[style="background-color:#C4F399"]:hover {
    background-color: rgba(135, 215, 64, 0.46) !important;
}

/*  */
[style="margin-top:-8px;font-size:22px;margin-bottom:10px;width:100%;text-align:center"] {
    display: none;
}

/*  */
[style="background-color:#ed4242"]:hover {
    background-color: rgb(237, 66, 66) !important;
}

/*  */
#editorDB {
    display: none;
}

/*  */
.scrollView {
    color: white !important;
}

/*  */
.terms {
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
}

/*  */
.terms:hover {
    text-decoration: none;
    color: rgb(162, 162, 162) !important;
}

/*  */
#m_blackm:hover {
    background-color: rgba(0, 0, 0, 0.45) !important;
}

/*  */
#m_blackm {
    background-color: rgba(0, 0, 0, 0.2) !important;
}

/*  */
#m_stats {
    background-color: rgba(153, 50, 153, 0.64) !important;
}

/* KR Giveaway Button */
#givaButton {
    background-color: rgb(66, 135, 245) !important;
}

/* KR Giveaway Hover Button */
#givaButton:hover {
    background-color: rgb(49, 97, 174) !important;
    opacity: 999 !important;
}

/*  */
#postKR:hover {
    background-color: rgba(0, 0, 0, 0.18) !important;
}

/*  */
#postKR {
    width: 575px;
}

/*  */
.krGivFol {
    color: rgb(0, 0, 0) !important;
}

/* "[Follow] and Like to Enter" Text of [Follow] Hover Button */
.follBtnGiv:hover {
    background-color: #1a5ac1 !important;
}

/* "[Follow] and Like to Enter" Text of [Follow] Button */
.follBtnGiv {
    background-color: #2277ff !important;
}

/*  */
[style="color:rgba(0,0,0,0.2)"] {
    color: rgb(0, 0, 0);
}

/* "No Soldiers" Text */
[style="color:rgba(0,0,0,0.5);padding-left:8px"] {
    color: #000 !important;
}

/* "-Copyrighted Materials" Text Of Report Map/Mod Popup */
[style="color:rgba(255,255,255,0.6);margin-top:10px;"] {
    color: #fff !important;
}

/* "-Gambling" Text Of Report Map/Mod Popup */
[style="color:rgba(255,255,255,0.6);"] {
    color: #fff !important;
}

/* "-Scamming" Text Of Report Map/Mod Popup */
[style="color:rgba(255,255,255,0.6)"] {
    color: #fff !important;
}

/* "Wishlist it on STEAM" Hover Message */
#steamDB:hover { /* Adjusted To No Animation Effect And Never Transparent On Hover */
    transform: scale(1);
    opacity: 999;
}

/* "Wishlist it on STEAM" Message */
#steamDB { /* Hide "Wishlist it On STEAM" Message */
    display: none;
}

/* "Open Model Viewer" Hover Button */
#itemInfoBtn:hover {
    background-color: rgb(0 0 0 / 64%) !important;
}